body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.close button {
  background: none;
  border: none;
  padding: 0px;
}
.close + .close {
  margin-right: 10px;
}

h2 .anchor {
  color: #ccc;
  visibility: hidden;
}
h2:hover .anchor {
  visibility: visible;
}
