@import conferences.models.Conference
@import conferences.models.Presentation
@import common.views.html.format._
@import common.views.html.partials._
@import conferences.views.html.partials._
@(conference: Conference, presentations: List[Presentation])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@conferences.views.html.main(conference.name, Some(conference.toTwitterCard())){
    @header("")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@conference.name</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="conference-item">
                    <a href="@conferences.controllers.routes.Conference.edit(conference.id)" class="close"><i class="fa fa-pencil"></i></a>
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="@conferences.controllers.routes.Conference.detail(conference.id)">@conference.logo.map{url => <img src="@url" style="max-height: 50px;">} @conference.name <span class="anchor"><i class="fa fa-link"></i></span></a></h2>
                            @conference.description.map { description =>
                                <blockquote>
                                    <p>@Html(description.replaceAll("\\n", "<br>"))</p>
                                </blockquote>
                            }
                            @conference.cfp.map { cfp =>
                                <p>
                                    @if(cfp.end.isAfterNow){<span class="label label-success">ouvert</span>} else {<span class="label label-danger">fermé</span>}
                                    <strong><a href="@cfp.siteUrl" target="_blank">Appel à orateurs</a></strong> :
                                    fermeture le <strong>@date(cfp.end)</strong>
                                </p>
                            }
                            @conference.tickets.map { tickets =>
                                <p>
                                    @if(conference.end.isAfterNow){<span class="label label-success">ouvert</span>} else {<span class="label label-danger">fermé</span>}
                                    <strong>@tickets.siteUrl.map{url => <a href="@url" target="_blank">Tickets</a>}.getOrElse{Tickets}</strong>
                                    @tickets.price.map { p => : <strong>@p</strong> }
                                </p>
                            }
                            <div role="group">
                                <a href="@conference.siteUrl" target="_blank" class="btn btn-default"><i class="fa fa-globe"></i> Site officiel</a>
                                @conference.videosUrl.map{url => <a href="@url" target="_blank" class="btn btn-default"><i class="fa fa-video-camera"></i> Vidéos</a>}
                                @conference.social.flatMap(_.twitter.flatMap(_.account)).map { account =>
                                    <a href="https://twitter.com/@account" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i> @@@account</a>
                                }
                                @conference.social.flatMap(_.twitter.flatMap(_.hashtag)).map { hashtag =>
                                    <a href="https://twitter.com/search?q=%23@hashtag" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i> #@hashtag</a>
                                }
                                @addToCalendar(conference){<a href="#" class="btn btn-default"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Agenda</a>}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>@period(Some(conference.start), Some(conference.end))</h4>
                            @conference.location.map { location =>
                                <strong>@location.name</strong><br>
                                @location.streetNo @location.street<br>
                                @location.postalCode @location.locality, @location.country
                                <a href="@location.url" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                            }
                            @if(conference.tags.length > 0) {
                                <p>
                                    @conference.tags.map { tag =>
                                        <a href="@conferences.controllers.routes.Conference.search(tags = Some(tag))" class="label label-primary">@tag</a>
                                    }
                                </p>
                            }
                            Posté le @datetime(conference.created)
                            @conference.createdBy.filter(_.public || req.getQueryString("admin") == Some("lkn")).map { user =>
                                par @user.twitter.map("https://twitter.com/"+_).orElse(user.siteUrl).map{url => <a href="@url" target="_blank" style="white-space: nowrap;">@user.name</a>}.getOrElse{<span style="white-space: nowrap;">@user.name</span>}
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 style="margin-bottom: 20px;">
            <a href="@conferences.controllers.routes.Presentation.create(conference.id)" title="Ajouter une présentation" class="pull-right"><i class="fa fa-plus"></i></a>
            Présentations :
        </h3>
        @if(presentations.length > 0){
            @presentations.map { presentation =>
                <div style="margin-bottom: 20px;">
                    <h4><a href="@conferences.controllers.routes.Presentation.detail(presentation.conferenceId, presentation.id)">@presentation.title <span class="anchor"><i class="fa fa-link"></i></span></a></h4>
                    <p>
                        par @presentation.speakers.map{ s => @s.twitter.map("https://twitter.com/"+_).orElse(s.siteUrl).map{ url => <a href="@url" target="_blank" style="white-space: nowrap;">@s.name</a> }.getOrElse{ <span style="white-space: nowrap;">@s.name</span> } }
                        @presentation.videoUrl.map { videoUrl => <span class="label label-success">Vidéo</span> }.getOrElse { <del class="label label-default">Vidéo</del> }
                        @presentation.slidesUrl.map { slidesUrl => <span class="label label-success">Slides</span> }.getOrElse { <del class="label label-default">Slides</del> }
                    </p>
                </div>
            }
        } else {
            <p>Aucune présentation créée pour le moment</p>
        }

        @disqusComments(conference.id.unwrap, conferences.controllers.routes.Conference.detail(conference.id).absoluteURL(false))
    </div>

    @footer()
}
