@import conferences.models.ConferenceData
@import conferences.models.ConferenceId
@import conferences.views.html.partials._
@(conferenceForm: Form[ConferenceData], tags: List[(String, Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@conferences.views.html.main(if(conferenceForm("id").value.getOrElse("") == "") {"Ajouter une conférence"} else {"Modifier la conférence \""+conferenceForm("name").value.getOrElse("")+"\""}) {
    @header(if(conferenceForm("id").value.getOrElse("") == "") {"create"} else {""})

    <div class="container" role="main">
        <div class="page-header">
            <h1>@if(conferenceForm("id").value.getOrElse("") == "") {Ajouter une conférence} else {Modifier la conférence "@conferenceForm("name").value"}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                @if(conferenceForm("id").value.isEmpty) {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Langue</strong> Merci de rentrer la conférence dans sa langue principale ou en anglais.
                    </div>
                }
                <div class="alert alert-warning duplicate-warning" style="display: none;">
                    <strong>Attention</strong>, il se pourrait que votre conférence soit déjà créée.<br>
                    Regardez les conférences déjà existantes sur le site (à droite/en bas)
                </div>
                @helper.form(action=conferenceForm("id").value.map(id => conferences.controllers.routes.Conferences.doEdit(ConferenceId(id))).getOrElse(conferences.controllers.routes.Conferences.doCreate()), 'class->"form-horizontal conference-form") {
                    @partials.fields(conferenceForm, tags)
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-lg">@if(conferenceForm("id").value.getOrElse("") == "") {Ajouter la conférence} else {Modifier "@conferenceForm("name").value"}</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4" style="display: none;">
                <h3>Conférences déjà créées :</h3>
                <div class="template" id="duplicate-template">
                    <div class="conference-item">
                        <a href="@conferences.controllers.routes.Conferences.detail(ConferenceId("{{id}}"))" target="_blank" class="btn btn-default pull-right">Voir</a>
                        <h4>{{name}}</h4>
                        <p>{{start}} - {{end}}</p>
                        <p>{{location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @footer()
}
