@import common.views.App
@import conferences.models.Conference
@import common.views.html.format._
@import common.views.html.partials._
@import conferences.views.html.partials._
@(context: String, conferenceList: List[Conference])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@conferences.views.html.main(if(context == "future"){"Conférences à venir"} else if(context == "past") {"Conférences passées"} else {"Recherche de conférences"}){
    @header(context+"-list")

    <div class="container" role="main">
        <div class="row">
            <div class="col-md-12">
                <!-- TODO : add geo-search -->
                @helper.form(action=conferences.controllers.routes.Conference.search()){
                    <div class="row">
                        <div class="col-md-offset-1 col-md-8">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <input type="search" class="form-control" id="q" name="q" value="@req.getQueryString("q")" placeholder="Recherche...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-block btn-default">Chercher</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-8">
                            <a class="pull-right" data-toggle="collapse" href="#advancedSearch">Recherche avancée</a>
                        </div>
                    </div>
                    <div class="collapse" id="advancedSearch">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-3">
                                <div class="form-group">
                                    <label for="period">Période</label>
                                    <input type="text" class="form-control daterange" id="period" name="period" value="@req.getQueryString("period")" placeholder="ex: 01/01/2015 - 31/12/2015">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tags">Tags</label>
                                    <input type="text" class="form-control" id="tags" name="tags" value="@req.getQueryString("tags")" placeholder="ex: java, web, tech">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6 form-inline text-center">
                                <div class="checkbox" style="margin-right: 20px;">
                                    <label>
                                        <input type="checkbox" name="cfp" @if(req.getQueryString("cfp") == Some("on")){checked="checked"}> Appel à orateurs
                                    </label>
                                </div>
                                <div class="checkbox" style="margin-right: 20px;">
                                    <label>
                                        <input type="checkbox" name="tickets" @if(req.getQueryString("tickets") == Some("on")){checked="checked"}> Billetterie
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="videos" @if(req.getQueryString("videos") == Some("on")){checked="checked"}> Vidéos publiées
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    }
            </div>
        </div>

        @if(!App.isMobile() && conferenceList.filter(_.location.isDefined).length > 0) {
            <div class="row">
                <div class="col-md-12">
                    @mapView(conferenceList.filter(_.location.isDefined).map(_.toMarker).flatten)
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="margin: 20px;">
                    Suivez <a href="https://twitter.com/conferencelist_" target="_blank">@@conferencelist_</a> ou abonnez-vous à notre <a href="#newsletter">newsletter</a> pour être tenu au courant des prochaines conférences ;)
                </p>
                @if(conferenceList.length == 0) {
                    <p class="not-found">
                    @context match {
                        case "future" => {Aucune conférence à venir...}
                        case "past" => {Aucune conférence passée...}
                        case "search" => {Aucune conférence pour cette recherche...}
                        case _ => {Aucune conférence...}
                    }
                    </p>
                }
                @conferenceList.map { conference =>
                    <div class="conference-item">
                        <a href="@conferences.controllers.routes.Conference.edit(conference.id)" class="close"><i class="fa fa-pencil"></i></a>
                        <div class="row">
                            <div class="col-md-8">
                                <h2><a href="@conferences.controllers.routes.Conference.detail(conference.id)">@conference.logo.map{url => <img src="@url" style="max-height: 50px;">} @conference.name <span class="anchor"><i class="fa fa-link"></i></span></a></h2>
                                @conference.cfp.filter(_.end.isAfterNow).map { cfp => <a href="@cfp.siteUrl" target="_blank"><span class="label label-success">Appel à orateurs</span></a> }
                                @conference.tickets.filter(_ => conference.end.isAfterNow).map { tickets => <a href="@tickets.siteUrl" target="_blank"><span class="label label-success">Tickets</span></a> }
                            <a href="@conference.siteUrl" target="_blank">Site officiel</a>
                                @conference.videosUrl.map{url => - <a href="@url" target="_blank">Vidéos</a>}
                                @conference.social.flatMap(_.twitter.flatMap(_.account)).map { account => - <a href="https://twitter.com/@account" target="_blank">@@@account</a> }
                                @conference.social.flatMap(_.twitter.flatMap(_.hashtag)).map { hashtag => - <a href="https://twitter.com/search?q=%23@hashtag" target="_blank">#@hashtag</a> }
                                @addToCalendar(conference){- <a href="#">Mettre dans l'agenda</a>}
                            </div>
                            <div class="col-md-4">
                                <h4>@period(Some(conference.start), Some(conference.end))</h4>
                                @conference.location.map { location =>
                                    <div>
                                        <strong>@location.name</strong>,
                                        @location.locality
                                        <a href="@location.url" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div id="newsletter">
                    @subscribe()
                </div>
            </div>
        </div>
    </div>

    @footer()
}
