@import play.api.libs.json.Json
@import common.models.values.CalendarEvent
@(events: List[CalendarEvent], remoteUrl: (String, String) => String, eventUrl: String => String, height: Int = 500)(implicit lang: Lang)
@remoteEvents() = @{
    Json.stringify(Json.obj(
        "searchUrl" -> remoteUrl("START_DATE", "END_DATE"),
        "eventUrl" -> eventUrl("ID")
    ))
}
<div class="full-calendar"
lang="@lang.toLocale"
height="@height"
    @if(events.length > 0){events="@Json.stringify(Json.toJson(events))"}
    @if(events.length == 0){remote-events="@remoteEvents()"}
    @if(events.length > 0){default-date="@events.map(_.start.toDateTimeAtStartOfDay.getMillis).min"}>
</div>
