@(person: models.Person)

<div class="media">
	<div class="media-left">
		<img class="media-object" src="@person.avatar">
	</div>
	<div class="media-body">
		<h4 class="media-heading">
			@if(person.profilUrl.isEmpty){ @person.name }
			@if(!person.profilUrl.isEmpty){ <a href="@person.profilUrl" target="_blank">@person.name</a> }
			@if(!person.company.isEmpty){ (@person.company) }
		</h4>
		@person.description
		<p>
			@person.social.siteUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-link"></i></a> }.getOrElse("")
			@person.social.facebookUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-facebook"></i></a> }.getOrElse("")
			@person.social.twitterUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-twitter"></i></a> }.getOrElse("")
			@person.social.linkedinUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-linkedin"></i></a> }.getOrElse("")
			@person.social.githubUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-github"></i></a> }.getOrElse("")
		</p>
	</div>
</div>
