@import models.event.Event
@import helpers.format._
@import views.html.Application.format._
@(event: Event, attendeeCount: Int, sessionCount: Int, exponentCount: Int, actionCount: Int)

<div class="media">
	<div class="media-left">
		<img class="media-object" src="@event.images.logo">
	</div>
	<div class="media-body">
		<h4 class="media-heading"><a href="@event.info.website" target="_blank">@event.name</a> (<a href="@event.info.price.url" target="_blank">@event.info.price.label</a>) (publié: @event.config.published)</h4>
		<p class="well">@textMultiline(event.description)</p>
		<p class="text-muted">@datetimeOpt(event.info.start) - @datetimeOpt(event.info.end) | @address(event.info.address) | @twitterHashtagOpt(event.info.social.twitter.hashtag) @twitterAccountOpt(event.info.social.twitter.account)</p>
		<p class="text-muted">
			@event.meta.categories.headOption.map { mainCategory =>
				<span class="label label-danger">@mainCategory</span>
				@event.meta.categories.tail.map { category => <span class="label label-primary">@category</span> }
			}
		</p>
		<p>
			<a href="@routes.Attendees.list(event.uuid)">@attendeeCount participants</a>,
			<a href="@routes.Sessions.list(event.uuid)">@sessionCount sessions</a>,
			<a href="@routes.Exponents.list(event.uuid)">@exponentCount exposants</a>,
			@actionCount actions
		</p>
		<img src="@event.images.landing">
	</div>
</div>
