@(event: EventUI)

@import helpers.format._
@import views.html.Application.format._

<tr>
	<td><img src="@event.logoUrl" style="max-height: 32px;"> @event.name</td>
	<td>@event.published</td>
	<td>@datetimeOpt(event.start)</td>
	<td>@address(event.address)</td>
	<td>@hashtagOpt(event.twitterHashtag)</td>
	<td><a href="@routes.Sessions.list(event.uuid)">@event.sessionCount sessions</a></td>
	<td><a href="@routes.Exponents.list(event.uuid)">@event.exponentCount exposants</a></td>
	<td>
		<a href="@routes.Events.details(event.uuid)" class="btn btn-default">Détails</a>
		<a href="@routes.Events.update(event.uuid)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
		<form method="POST" action="@routes.Events.delete(event.uuid)" class="form-button"><button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></form>
	</td>
</tr>