@import common.models.user.User
@import common.models.user.Organization
@import common.models.user.OrganizationData
@import backend.views.html._
@import backend.views.html.partials._
@import common.views.html.forms._
@(userOrganizations: List[(Organization, String)], otherOrganizations: List[Organization], organizationForm: Form[OrganizationData], accessRequestForm: Form[String])(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Bienvenue sur SalooN", "profile"){
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h2>@user.name()</h2>
					<ul class="actions">
						<li><a href=""><i class="md md-edit"></i></a></li>
					</ul>
				</div>
				<div class="card-body card-padding">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>Mes organisations</h2>
				</div>
				<div class="card-body card-padding">
					<div class="body-alt body-btn-float bgm-red">
						<i class="body-alt-btn md md-add"></i>
						<div class="body-alt-content">
							@helper.form(action = backend.controllers.routes.Profile.doCreateOrganization(), 'class->"form-horizontal") {
								<div style="padding: 10px;">
									<h4>Créez une organisation :</h4>
									<p>Tous les événements sont reliés à une organisation. Vous devez en créer une pour pouvoir créer vos premiers événements.</p>
									@fieldHorizontal(organizationForm("name"), 'label->"Nom", 'constraints->"false"){field =>
										<div class="fg-line">@inputText(field, 'placeholder->"ex: SalooN")</div>
										<p class="help-block">Le nom doit être unique</p>
									}
								</div>
								<div class="body-alt-actions">
									<a href="" body-alt-action="dismiss"><i class="md md-close"></i></a>
									<button type="submit" body-alt-action="save"><i class="md md-check"></i></button>
								</div>
							}
						</div>
					</div>
					<div class="body-alt body-btn-block bgm-blue">
						<span class="body-alt-btn">Rejoindre une organisation</span>
						<div class="body-alt-content">
							@helper.form(action = backend.controllers.routes.Profile.doOrganizationRequestAccess(), 'class->"form-horizontal") {
								<div style="padding: 10px;">
									<h4>Demandez à rejoindre une organisation</h4>
									<p>Rejoignez vos collègues dans leur organisation pour partager les événements</p>
									@inputSelect2(accessRequestForm("organizationId"), otherOrganizations.map(o => (o.uuid,o.name)), 'emptyOption->"--")
								</div>
								<div class="body-alt-actions">
									<a href="" body-alt-action="dismiss"><i class="md md-close"></i></a>
									<button type="submit" body-alt-action="save"><i class="md md-check"></i></button>
								</div>
							}
						</div>
					</div>
					<div style="min-height: 200px; padding-bottom: 10px; margin-bottom: 30px;">
						@if(userOrganizations.length == 0){
							Vous ne faites parti d'aucune organisation.
						}
						@userOrganizations.map { case (orga, role) =>
							<div>
								@orga.name (@role)
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}