@import common.models.user.User
@import common.models.user.Organization
@import common.models.user.OrganizationData
@import common.models.user.Request
@import org.joda.time.DateTime
@import backend.views.html._
@import backend.views.html.partials._
@import common.views.html.forms._
@import common.views.html.format._
@(userOrganizations: List[(Organization, String, Int)], userPendingOrganizationRequests: List[(Organization, Request)], otherOrganizations: List[Organization], organizationForm: Form[OrganizationData], accessRequestForm: Form[(String, Option[String])])(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Mon profil", "profile"){
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h2>@user.name()</h2>
					<ul class="actions">
						<li><a href=""><i class="md md-edit"></i></a></li>
					</ul>
				</div>
				<div class="card-body card-padding">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>Mes organisations</h2>
				</div>
				<div class="card-body card-padding" style="padding-top: 30px;">
					<div class="body-alt body-btn-float bgm-red">
						<i class="body-alt-btn md md-add"></i>
						<div class="body-alt-content">
							@helper.form(action = backend.controllers.routes.Profile.doCreateOrganization(), 'class->"form-horizontal") {
								<div style="padding: 10px;">
									<h4>Créez une organisation :</h4>
									<p>Tous les événements sont reliés à une organisation. Vous devez en créer une pour pouvoir créer vos premiers événements.</p>
									@fieldHorizontal(organizationForm("name"), 'label->"Nom", 'constraints->"false"){field =>
										<div class="fg-line">@inputText(field, 'placeholder->"ex: SalooN")</div>
										<p class="help-block">Le nom doit être unique</p>
									}
								</div>
								<div class="body-alt-actions">
									<a href="" body-alt-action="dismiss"><i class="md md-close"></i></a>
									<button type="submit" body-alt-action="save"><i class="md md-check"></i></button>
								</div>
							}
						</div>
					</div>
					@if(otherOrganizations.length > 0){
						<div class="body-alt body-btn-block bgm-blue">
							<span class="body-alt-btn">Rejoindre une organisation</span>
							<div class="body-alt-content">
								@helper.form(action = backend.controllers.routes.Profile.doOrganizationRequestAccess(), 'class->"form-horizontal") {
									<div style="padding: 10px;">
										<h4>Demandez à rejoindre une organisation</h4>
										<p>Rejoignez vos collègues dans leur organisation pour partager les événements</p>
										@inputSelect2(accessRequestForm("organizationId"), otherOrganizations.map(o => (o.uuid,o.name)), 'emptyOption->"--")
										<div class="fg-line" style="margin-top: 10px;">@inputTextarea(accessRequestForm("comment"), 'placeholder->"Raison de votre demande...")</div>
									</div>
									<div class="body-alt-actions">
										<a href="" body-alt-action="dismiss"><i class="md md-close"></i></a>
										<button type="submit" body-alt-action="save"><i class="md md-check"></i></button>
									</div>
								}
							</div>
						</div>
					}
					<div style="min-height: 200px; padding-bottom: 10px; margin-bottom: 30px;">
						@if(userOrganizations.length == 0 && userPendingOrganizationRequests.length == 0){
							Vous ne faites parti d'aucune organisation.
						}
						@userPendingOrganizationRequests.map { case (orga, request) =>
							<div style="padding-bottom: 15px;">
								Demande d'accès à <b>@orga.name</b> depuis le @date(request.created, "dd MMM à HH'h")
								<ul class="actions" style="float: right">
									<li class="dropdown">
										<a href="#" data-toggle="dropdown" aria-expanded="false"><i class="md md-more-vert"></i></a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li>@helper.form(action = backend.controllers.routes.Requests.reminder(request.uuid)){<button type="submit">Relancer</button>}</li>
											<li>@helper.form(action = backend.controllers.routes.Requests.cancel(request.uuid)){<button type="submit">Annuler</button>}</li>
										</ul>
									</li>
								</ul>
							</div>
						}
						<ul class="list-group">
							@userOrganizations.map { case (orga, role, pending) =>
								<a href="@backend.controllers.routes.Organizations.details(orga.uuid)" class="list-group-item">
									@if(pending>0){<span class="badge bgm-red" title="Demandes en attente">@pending</span>} @orga.name (@role)
								</a>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
}