@import common.models.event.Attendee
@(attendee: Attendee, link: Option[Call] = None)
<div class="media media-avatar">
	<div class="pull-left">
		<a href="@link">@avatar(attendee.images.avatar, attendee.name, 'class->"media-object")</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
			<a href="@link">@attendee.name</a>
			<small>@attendee.position().getOrElse("")</small>
		</h4>
		<p class="media-line" title="@attendee.description">@attendee.description</p>
		<p class="media-line">@attendee.links().map { case (url, name, icon) => <a href="@url" target="_blank" title="@name"><i class="@icon"></i></a> }</p>
	</div>
</div>