@import common.models.event.Event
@import common.models.event.Exponent
@(exponent: Exponent, event: Event)
<div class="media media-avatar">
	<div class="pull-left">
		<a href="@backend.controllers.routes.Exponents.details(event.uuid, exponent.uuid)">@avatar(exponent.images.logo, exponent.name, 'class->"media-object")</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading"><a href="@backend.controllers.routes.Exponents.details(event.uuid, exponent.uuid)">@exponent.name</a></h4>
		<p class="media-line">@exponent.description</p>
	</div>
</div>