@import common.models.user.User
@(user: User)

<aside id="sidebar">
	<div class="sidebar-inner c-overflow">
		<div class="profile-menu">
			<a href="#" style="background-image: url('@routes.Assets.at("backend/sample/images/profile-menu.png")');">
				<div class="profile-pic"><img src="@routes.Assets.at("backend/sample/images/profile-pics/1.jpg")" alt=""></div>
				<div class="profile-info">@user.info.firstName @user.info.lastName <i class="md md-arrow-drop-down"></i></div>
			</a>
			<ul class="main-menu">
				<li><a href=""><i class="md md-person"></i> Mon profil</a></li>
				<!-- <li><a href=""><i class="md md-person"></i> Mon profil</a></li>
				<li><a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a></li>
				<li><a href=""><i class="md md-settings"></i> Settings</a></li> -->
				<li><a href="@authentication.controllers.routes.Auth.logout()"><i class="md md-history"></i> Déconnexion</a></li>
			</ul>
		</div>
		<ul class="main-menu">
			<li class="active"><a href="@backend.controllers.routes.Application.index()"><i class="md md-home"></i> Accueil</a></li>
			<li><a href="#"><i class="md md-content-paste"></i> Événements organisés</a></li>
			<li><a href="#"><i class="md md-event-available"></i> Événements participés</a></li>
			@if(user.canAdministrateSaloon()){ <li><a href="@admin.controllers.routes.Application.index()"><i class="md md-settings"></i> Admin</a></li> }
		</ul>
	</div>
</aside>
