@import models.user.UserData
@import helpers.forms._
@(userForm: Form[UserData])

@fieldHorizontal(userForm("device.uuid"), 'label -> "Uuid"){field => @inputText(field)}
@fieldHorizontal(userForm("saloonMemo"), 'label -> "Memo (réservé SalooN)"){field => @inputTextarea(field)}
@fieldHorizontal(userForm("device.platform"), 'label -> "Platform"){field => @inputText(field)}
@fieldHorizontal(userForm("device.manufacturer"), 'label -> "Manufacturer"){field => @inputText(field)}
@fieldHorizontal(userForm("device.model"), 'label -> "Model"){field => @inputText(field)}
@fieldHorizontal(userForm("device.version"), 'label -> "Version"){field => @inputText(field)}
@fieldHorizontal(userForm("device.cordova"), 'label -> "Cordova"){field => @inputText(field)}
@fieldHorizontal(userForm("push.uuid"), 'label -> "Push id"){field => @inputText(field)}
@fieldHorizontal(userForm("push.platform"), 'label -> "Push platform"){field => @inputText(field)}
