@import models.user.User
@import helpers.format._
@import views.html.Application.format._
@(user: User)

<tr>
	<td>@user.device.uuid</td>
	<td>@user.device.platform</td>
	<td>@user.device.manufacturer</td>
	<td>@user.device.model</td>
	<td>@user.device.version</td>
	<td>@user.device.cordova</td>
	<td>@user.push.map{ push => @push.uuid (@push.platform) }</td>
	<td>@user.saloonMemo</td>
	<td>@date(user.created)</td>
	<td>
		<a href="@routes.Users.details(user.uuid)" class="btn btn-default">Détails</a>
		<a href="@routes.Users.update(user.uuid)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
		<form method="POST" action="@routes.Users.delete(user.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm"><i class="fa fa-trash-o"></i></button></form>
	</td>
</tr>
