@import models.event.Event
@import models.event.Attendee
@import models.event.Exponent
@import models.event.ExponentData
@(exponentForm: Form[ExponentData], exponent: Exponent, allAttendees: List[Attendee], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@admin.views.html.layout("Modifier "+exponent.name){
	<div class="row">
		<div class="col-md-8">
			<div class="widget">
				<div class="widget-header">Modifier @exponent.name</div>
				<div class="widget-body">
					<form class="form-horizontal" method="POST" action="@admin.controllers.routes.Exponents.doUpdate(event.uuid, exponent.uuid)">
						@partials.form(exponentForm, allAttendees, event)
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a href="@admin.controllers.routes.Exponents.details(event.uuid, exponent.uuid)" class="btn btn-default">Annuler</a>
								<button type="submit" class="btn btn-success">Modifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}