@import models.event.Event
@import models.event.Attendee
@(attendee: Attendee, event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@admin.views.html.layout(attendee.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@admin.controllers.routes.Attendees.list(event.uuid)" class="back-btn"><i class="fa fa-arrow-left"></i>Participants</a>
					@attendee.name
					<div class="pull-right">
						<a href="@admin.controllers.routes.Attendees.update(event.uuid, attendee.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@admin.controllers.routes.Attendees.delete(event.uuid, attendee.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(attendee)
				</div>
			</div>
		</div>
	</div>
}