@import models.event.Event
@import models.event.Session
@import models.event.Exponent
@import models.event.EventItem
@import models.user.Device
@import models.user.UserAction
@import models.user.FavoriteUserAction
@import models.user.DoneUserAction
@import models.user.MoodUserAction
@import models.user.CommentUserAction
@import models.user.SubscribeUserAction
@(device: Device, actionsByEvents: Map[Option[Event], List[(Option[EventItem], UserAction)]])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@admin.views.html.layout(device.info.uuid) {
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">
					<a href="@admin.controllers.routes.Devices.list()" class="back-btn"><i class="fa fa-arrow-left"></i>Appareils</a>
					@device.info.uuid
					<div class="pull-right">
						<a href="@admin.controllers.routes.Devices.update(device.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@admin.controllers.routes.Devices.delete(device.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(device)
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Actions</div>
				<div class="widget-body xlarge no-padding">
					<div class="table-responsive">
						<table class="table">
							@actionsByEvents.map { case (eventOpt, actions) =>
								<thead>
									<tr><th colspan="4">Evénement @eventOpt.map{ event => <a href="@admin.controllers.routes.Events.details(event.uuid)">@event.name</a> }.getOrElse("Inconnu")</th></tr>
								</thead>
								<tbody>
									@actions.map { case (itemOpt, action) =>
										<tr>
											<td>
												@if(action.itemType == Event.className){ Event <a href="@admin.controllers.routes.Events.details(action.itemId)">@itemOpt.map(_.name).getOrElse(action.itemId)</a> }
												@if(action.itemType == Session.className){ Session <a href="@admin.controllers.routes.Sessions.details(eventOpt.map(_.uuid).orElse(action.eventId).getOrElse(""), action.itemId)">@itemOpt.map(_.name).getOrElse(action.itemId)</a> }
												@if(action.itemType == Exponent.className){ Exposant <a href="@admin.controllers.routes.Exponents.details(eventOpt.map(_.uuid).orElse(action.eventId).getOrElse(""), action.itemId)">@itemOpt.map(_.name).getOrElse(action.itemId)</a> }
											</td>
											@action.action match {
												case FavoriteUserAction(f) => {
													<td>Fav</td>
													<td></td>
													<td><form method="POST" action="@admin.controllers.routes.Devices.deleteAction(action.userId, action.itemType, action.itemId, FavoriteUserAction.className, action.uuid)" class="form-button"><button type="submit" class="btn btn-xs btn-danger confirm">Supprimer</button></form></td>
												}
												case DoneUserAction(d) => {
													<td>Done</td>
													<td></td>
													<td><form method="POST" action="@admin.controllers.routes.Devices.deleteAction(action.userId, action.itemType, action.itemId, DoneUserAction.className, action.uuid)" class="form-button"><button type="submit" class="btn btn-xs btn-danger confirm">Supprimer</button></form></td>
												}
												case MoodUserAction(rating, m) => {
													<td>Mood</td>
													<td>@rating</td>
													<td><form method="POST" action="@admin.controllers.routes.Devices.deleteAction(action.userId, action.itemType, action.itemId, MoodUserAction.className, action.uuid)" class="form-button"><button type="submit" class="btn btn-xs btn-danger confirm">Supprimer</button></form></td>
												}
												case CommentUserAction(text, c) => {
													<td>Comment</td>
													<td>@text</td>
													<td><form method="POST" action="@admin.controllers.routes.Devices.deleteAction(action.userId, action.itemType, action.itemId, CommentUserAction.className, action.uuid)" class="form-button"><button type="submit" class="btn btn-xs btn-danger confirm">Supprimer</button></form></td>
												}
												case SubscribeUserAction(email, filter, s) => {
													<td>Subscribe</td>
													<td>@email : @filter</td>
													<td><form method="POST" action="@admin.controllers.routes.Devices.deleteAction(action.userId, action.itemType, action.itemId, SubscribeUserAction.className, action.uuid)" class="form-button"><button type="submit" class="btn btn-xs btn-danger confirm">Supprimer</button></form></td>
												}
											}
										</tr>
									}
								</tbody>
							}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
}