@import models.user.Device
@import models.user.DeviceData
@(deviceForm: Form[DeviceData], device: Device)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@admin.views.html.layout("Modifier "+device.info.uuid){
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Modifier @device.info.uuid</div>
				<div class="widget-body">
					<form class="form-horizontal" method="POST" action="@admin.controllers.routes.Devices.doUpdate(device.uuid)">
						@partials.form(deviceForm)
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a href="@admin.controllers.routes.Devices.details(device.uuid)" class="btn btn-default">Annuler</a>
								<button type="submit" class="btn btn-success">Modifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}