@import common.models.user.Organization
@import common.models.user.User
@import common.models.user.UserData
@import common.views.html.format._
@import admin.views.html.format._
@(user: User, organizations: List[Organization])

<tr>
	<td><a href="@admin.controllers.routes.Users.details(user.uuid)">@user.info.firstName @user.info.lastName</a></td>
	<td>@user.email</td>
	<td>
		@if(organizations.length > 0){
			@organizations.map {organization =><a href="@admin.controllers.routes.Organizations.details(organization.uuid)">@organization.name</a>}
		}
	</td>
	<td>
		@user.rights.map { case (right,_) =>
			<span class="label label-primary">@UserData.rights.find(_._1 == right).map(_._2).getOrElse("Droit {"+right+"} inconnu...")</span>
		}
	</td>
	<td>
		@user.loginInfo.providerID match {
			case "" => {En attente...}
			case _ => {Créé}
		}
	</td>
	<td>@date(user.meta.created)</td>
	<td>
		<a href="@admin.controllers.routes.Users.details(user.uuid)" class="btn btn-default">Détails</a>
		<a href="@admin.controllers.routes.Users.update(user.uuid)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
		<form method="POST" action="@admin.controllers.routes.Users.delete(user.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm"><i class="fa fa-trash-o"></i></button></form>
	</td>
</tr>
