.form-group {
    margin-bottom: 20px;
}
.form-group.fg-float {
	  margin-top: 20px;
}
.fg-float .fg-toggled + .fg-label {
	top: -10px;
}
.checkbox .input-helper:after {
	border-bottom-color: @brand-primary;
	border-left-color: @brand-primary;
}
.radio .input-helper:after {
	background: @brand-primary;
}
.help-block {
	margin-bottom: 0px;
}

.card .card-header {
	.btn-float + .btn-float {
		right: 90px;
	}
	h2 > small > form {
		margin-bottom: -16px;
		.form-group {
			margin: 0px;
		}
	}
}

.card .card-body {
	position: relative;
}
.card .card-body .body-alt {
	position: absolute;
	background: @m-red;
	color: @m-white;
	.transition(all);
	.backface-visibility(hidden);
	.transition-duration(200ms);
	.body-alt-btn {
		.transition(all);
		.transition-duration(200ms);
	}
	.body-alt-content {
		overflow: hidden;
		color: @m-white;
		h4, .form-control {
			color: @m-white;
		}
		.opacity(0);
		.transition(all);
		.transition-duration(300ms);
	}
	&:not(.toggled){
		overflow: hidden;
		.body-alt-btn {
			position: relative;
			display: block;
			z-index: 1;
			cursor: pointer;
			text-align: center;
		}
		.body-alt-content {
			height: 0px;
		}
	}
	&.toggled {
		border-radius: 2px;
		top: 0;
		z-index: 2;
		box-shadow: 0 5px 8px rgba(0,0,0,0.2);
		max-height: 300px;
		overflow: visible;
		.body-alt-btn {
			height: 0;
			overflow: hidden;
			float: left;
		}
		.body-alt-content {
			.opacity(1);
			height: initial;
			.body-alt-actions {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 5px 10px;
				border-top: 1px solid rgba(0,0,0,0.1);
				z-index: 1;
				& > [body-alt-action] {
					font-size: 25px;
					padding: 0 6px;
					border-radius: 50%;
					text-align: center;
					height: 40px;
					width: 40px;
					display: inline-block;
					line-height: 41px;
					background: none;
					border: none;
					color: @m-white;
					border-radius: 50%;
					.transition(background-color);
					.transition-duration(300ms);
					&:hover {
					    background-color: rgba(0,0,0,0.1);
					}
				}
			}
		}
		&.bgm-white .body-alt-content .body-alt-actions [body-alt-action="dismiss"] { color: @m-red;   }
		&.bgm-white .body-alt-content .body-alt-actions [body-alt-action="save"]    { color: @m-green; }
	}
	&.body-btn-float {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		top: -25px;
		right: 23px;
		.body-alt-btn {
			&:hover {
				.rotate(360deg);
			}
		}
		&:not(.toggled){
			&:hover {
				box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
			}
			.body-alt-btn {
				font-size: 23px;
				color: @m-white;
				line-height: 50px;
			}
		}
		&.toggled {
			width: ~"calc(100% - 47px)";
			height: ~"calc(100% - 25px)";
			border-radius: 2px;
			top: 0;
		}
	}
	&.body-btn-block {
		width: ~"calc(100% - 47px)";
		bottom: 23px;
		&:not(.toggled){
			text-transform: uppercase;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 12px;
			border-radius: 2px;
			.user-select(none);
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			&:hover {
				box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			}
		}
	}
}

.media {
	display: block;
	color: #5e5e5e;
	&:hover {
		color: #5e5e5e;
	}
	.media-object.lv-avatar {
		margin-right: 0px;
		border-radius: 2px;
	}
	.media-heading a {
		color: #000;
	}
	.media-line {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 0px;
	}
}
.media.media-avatar {
	.media-object {
		width: 60px;
		height: 60px;
		&.lv-avatar {
			line-height: 60px;
			font-size: 30px;
		}
	}
}

@colored-background-text: rgba(255,255,255,0.5); /* rgba(255,255,255,0.5) / rgba(0,0,0,0.2) */
.bgm-red, .bgm-pink, .bgm-purple, .bgm-deeppurple, .bgm-indigo, .bgm-blue, .bgm-lightblue, .bgm-cyan, .bgm-teal, .bgm-green, .bgm-lightgreen, .bgm-lime, .bgm-yellow, .bgm-amber, .bgm-orange, .bgm-deeporange, .bgm-brown, .bgm-gray, .bgm-bluegray, .bgm-black {
	.form-control {
		background-color: transparent;
		border-color: @colored-background-text;
	}
	.form-control::-webkit-input-placeholder {
		color: @colored-background-text;
	}
	.form-control:-moz-placeholder {
		color: @colored-background-text;
	}
	.form-control::-moz-placeholder {
		color: @colored-background-text;
	}
	.form-control:-ms-input-placeholder {
		color: @colored-background-text;
	}
	.fg-line:not([class*=has-]):after {
		background: @colored-background-text;
	}
	.help-block {
		color: @colored-background-text;
	}
}
.actions > li > form > button, .actions > form > button {
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	line-height: 29px;
	display: inline-block;
	text-align: center;
	position: relative;
	&:before {
		left: 0;
		top: 0;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-transform: scale3d(0, 0, 0);
		   -moz-transform: scale3d(0, 0, 0);
		    -ms-transform: scale3d(0, 0, 0);
		     -o-transform: scale3d(0, 0, 0);
		        transform: scale3d(0, 0, 0);
		-webkit-transition: all;
		     -o-transition: all;
		        transition: all;
		-webkit-transition-duration: 250ms;
		        transition-duration: 250ms;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		        backface-visibility: hidden;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 0;
		border-radius: 50%;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	& > i {
		-webkit-transition: color;
		     -o-transition: color;
		        transition: color;
		-webkit-transition-duration: 1300ms;
		        transition-duration: 1300ms;
		color: #adadad;
		font-size: 20px;
	}
	&:hover {
		&:before {
			-webkit-transform: scale3d(1, 1, 1);
			   -moz-transform: scale3d(1, 1, 1);
			    -ms-transform: scale3d(1, 1, 1);
			     -o-transform: scale3d(1, 1, 1);
			        transform: scale3d(1, 1, 1);
			opacity: 1;
			filter: alpha(opacity=100);
		}
		& > i {
			color: #000;
		}
	}
}
.dropdown-menu > li > form > button {
	display: block;
	clear: both;
	padding: 8px 17px;
	width: 100%;
	background: none;
	border: none;
	font-family: roboto;
	color: #4C4C4C;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	-webkit-transition: background-color;
	     -o-transition: background-color;
	        transition: background-color;
	-webkit-transition-duration: 300ms;
	        transition-duration: 300ms;
	&:hover {
		color: #000;
		background-color: rgba(0, 0, 0, 0.075);
	}
}
.dropdown-menu.dropdown-menu-right > li > form > button {
	text-align: right;
}

.list-group-item.divider {
	background-color: #f7f7f7;
	padding: 5px 15px;
}

.mini-charts-item {
	display: block;
}

.header-inner .logo a {
	font-size: 20px;
	text-transform: initial;
}
#sidebar {
	.profile-menu > a {
		background-size: cover;
	}
	.profile-menu > a .profile-pic > .lv-avatar {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		border: 3px solid rgba(0, 0, 0, 0.14);
		box-sizing: content-box;
		line-height: 47px;
		font-size: 25px;
	}
	.main-menu > li.sub-menu > ul > li.active > a {
		color: #000;
	}
}
@media(max-width: 1200px){
	body.sw-toggled #footer {
		padding-left: initial;
	}
}

#profile-main {
	.pm-overview {
		overflow-x: hidden;
	}
	.pmo-pic .lv-avatar {
		margin: auto;
		width: 150px;
		height: 150px;
		line-height: 150px;
		font-size: 50px;
	}
	.pmo-contact ul li i {
		position: static;
	}
	.pmo-contact ul li > i {
		position: absolute;
	}
}

.note-editor,
.note-popover {
    .fa {
        &.fa-strikethrough:before { content: "\f188"; }
        &.fa-undo:before { content: "\f11c"; }
        &.fa-repeat:before { content: "\f110"; }
	}
	.note-toolbar {
		padding: 0px;
		text-align: left;
		& > .btn-group {
			margin-top: 0px;
			.btn {
				padding: 0px 5px;
				height: 30px;
			}
		}
		.note-misc {
			float: right;
		}
	}
}
.note-dialog .checkbox input {
	opacity: 1;
}

.login-content {
	.lc-block {
		&.toggled.left {
			.animated(fadeInLeft, 200ms);
		}
	}
	/*.login-navigation > li {
		&:not(:hover), &:hover {
	        border-radius: 10px;
	        padding: 0 5px;
	        font-size: 8px;
		}
	}*/
}

.four-zero {
	padding-bottom: 80px;
	height: initial;
	h2 {
		font-size: 80px;
		padding-bottom: 20px;
	}
}
