.header-inner .logo a {
	font-size: 20px;
	text-transform: initial;
}
#sidebar .profile-menu > a {
	background-size: cover;
}
body.sw-toggled #footer {
	  padding-left: initial;
}

.media {
	.media-object.lv-avatar {
		margin-right: 0px;
		border-radius: 2px;
	}
}
.media.media-avatar {
	.media-object {
		width: 60px;
		height: 60px;
		&.lv-avatar {
			line-height: 60px;
			font-size: 30px;
		}
	}
}

.mini-charts-item {
	display: block;
}

#sidebar .profile-menu > a .profile-pic > .lv-avatar {
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.14);
	box-sizing: content-box;
	line-height: 47px;
	font-size: 25px;
}

.four-zero {
	padding-bottom: 80px;
	height: initial;
	h2 {
		font-size: 80px;
		padding-bottom: 20px;
	}
}
