@import common.models.user.User
@import common.views.html._
@(userOpt: Option[User])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@* from https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8 *@

@main("SalooN"){
    @notifications(flash)
    @partials.header(userOpt)
    @partials.sectionPromo()
    @partials.sectionFeatures()
    @*@partials.sectionHow()*@
    @partials.sectionStory()
    @partials.sectionFaq()
    @*@partials.sectionTestimonials()*@
    @*@partials.sectionPricing()*@
    @partials.sectionContact(userOpt)
    @partials.footer()
}
