@import common.models.user.User
@import common.views.html._
@(userOpt: Option[User])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("SalooN"){
    @notifications(flash)
    @partials.header(userOpt)
    @partials.sectionPromo()
    @*@partials.sectionFeatures()*@
    @*@partials.sectionHow()*@
    @partials.sectionFaq()
    @partials.sectionStory()
    @partials.sectionTestimonials()
    @*@partials.sectionPricing()*@
    @partials.sectionContact(userOpt)
    @partials.footer()
}
