@import common.models.event.Event
@import common.models.event.Attendee
@import common.models.event.Exponent
@import common.models.user.User
@import common.views.html.format._
@import backend.views.html._
@import backend.views.html.partials._
@(exponent: Exponent, exponentTeam: List[Attendee], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout(exponent.name+", "+event.name, "events_"+event.uuid+"_exponents_"+exponent.uuid, Map(event.uuid -> event.name, exponent.uuid -> exponent.name)){
	<div class="block-header">
		<h2>
			@exponent.name
			<small>
				@if(!exponent.info.place.isEmpty){<i class="md md-location-on"></i> @exponent.info.place}
				@exponent.info.sponsorLevel.map{s => <span class="label label-danger">Sponsor</span>}
			</small>
		</h2>
		<ul class="actions">
			<li><a href="@backend.controllers.routes.Exponents.update(event.uuid, exponent.uuid)"><i class="md md-edit"></i></a></li>
			<li><form method="POST" action="@backend.controllers.routes.Exponents.delete(event.uuid, exponent.uuid)"><button type="submit" class="confirm"><i class="md md-delete"></i></button></form></li>
		</ul>
	</div>
	<div class="card" id="profile-main">
		<div class="pm-overview c-overflow">
			<div class="pmo-pic">@avatar(exponent.images.logo, exponent.name, 'class->"img-responsive")</div>
			@if(exponentTeam.length > 0){
				<div class="pmo-block pmo-contact hidden-xs">
					<h2><i class="md md-people m-r-5"></i> Équipe</h2>
					@exponentTeam.map { attendee => @attendeeMedia(attendee, event) }
				</div>
			}
			<div class="pmo-block pmo-contact hidden-xs">
				<ul>
					<li><i class="md md-create"></i> enregistré le @datetime(exponent.meta.created)</li>
					@if(exponent.meta.created != exponent.meta.updated){<li><i class="md md-create"></i> mis à jour le @datetime(exponent.meta.updated)</li>}
				</ul>
			</div>
		</div>
		<div class="pm-body clearfix">
			<div class="pmb-block">
				<div class="pmbb-header"><h2><i class="md md-format-align-left m-r-5"></i> Description</h2></div>
				<div class="p-l-30">
					@Html(exponent.descriptionHTML)
				</div>
			</div>
			<div class="pmb-block">
				<div class="pmbb-header"><h2><i class="md md-wallet-giftcard m-r-5"></i> Options</h2></div>
				<div class="pmbb-body p-l-30">
					<dl class="dl-horizontal">
						<dt>Scan de QRCode</dt>
						<dd>
							@exponent.config.scanQRCode match {
								case true => {<i class="md md-check-box"></i>}
								case false => {<i class="md md-check-box-outline-blank"></i>}
							}
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>CVthèque</dt>
						<dd>
							@exponent.config.scanQRCode match {
								case false => {<i class="md md-check-box"></i>}
								case true => {<i class="md md-check-box-outline-blank"></i>}
							}
						</dd>
					</dl>
				</div>
			</div>
			@if(!exponent.info.website.isEmpty){
				<div class="pmb-block">
					<div class="pmbb-header"><h2><i class="md md-phone m-r-5"></i> Contact</h2></div>
					<div class="pmbb-body p-l-30">
						<dl class="dl-horizontal"><dt>Site</dt><dd><a href="@exponent.info.website" target="_blank">@exponent.info.website</a></dd></dl>
					</div>
				</div>
			}
			@if(exponentTeam.length > 0){
				<div class="pmb-block visible-xs">
					<div class="pmbb-header"><h2><i class="md md-people m-r-5"></i> Équipe</h2></div>
					<div class="pmbb-body p-l-30">
						@exponentTeam.map { attendee => @attendeeMedia(attendee, event) }
					</div>
				</div>
			}
		</div>
	</div>
}