@(eventForm: Form[EventData])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout("Evénements"){
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Créer un événements</div>
				<div class="widget-body">
					<form class="form-horizontal" method="POST" action="@routes.Events.doCreate()">
						@partials.form(eventForm)
						<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<a href="@routes.Events.list()" class="btn btn-default">Annuler</a>
							<button type="submit" class="btn btn-success">Créer</button>
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}