@(event: EventUI, actions: List[UserActionFull])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import views.html.Application.format._
@import services.UserActionSrv

@layout(event.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Events.list()" class="back-btn"><i class="fa fa-arrow-left"></i>Evénements</a>
					@event.name
					<div class="pull-right">
						@if(event.refreshUrl.isDefined){ <a href="@routes.Events.refresh(event.uuid)" class="btn btn-default"><i class="fa fa-refresh"></i></a> }
						<a href="@routes.Events.update(event.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@routes.Events.delete(event.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(event)
				</div>
			</div>
		</div>
	</div>
	@if(actions.length > 0){
		<div class="row">
			<div class="col-md-6">
				<div class="widget">
					<div class="widget-header">
						Statistiques
						<form class="pull-right" method="POST" action="@routes.Events.stats(event.uuid)"><button type="submit" class="btn btn-success"><i class="fa fa-download"></i></button></form>
					</div>
					<div class="widget-body">
						<p>
							@UserActionSrv.byActionName(actions).map { case (actionName, list) =>
								@actionName match {
									case "mood" => {
										@UserActionSrv.byMood(list).map { case (rating, moodList) => @moodList.length @mood(rating) }.mkString(", ")
									}
									case actionName => { @list.length @actionName }
								}
							}.mkString(", ")
						</p>
						<ol>
							@UserActionSrv.byItem(actions).map { case (item, itemActions) =>
								<li>
									@item match {
										case models.Event(uuid,_,name,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_) => { Evénement <a href="@routes.Events.details(uuid)">@name</a> }
										case models.Session(uuid,eventId,name,_,_,_,_,_,_,_,_,_,_,_,_,_) => { Session <a href="@routes.Sessions.details(eventId, uuid)">@name</a> }
										case models.Exponent(uuid,eventId,name,_,_,_,_,_,_,_,_,_,_,_,_,_) => { Exposant <a href="@routes.Exponents.details(eventId, uuid)">@name</a> }
										case unknown => { Inconnu @unknown }
									}
									@UserActionSrv.byActionName(itemActions).map { case (actionName, list) =>
										@actionName match {
											case "mood" => {
												@UserActionSrv.byMood(list).map { case (rating, moodList) => @moodList.length @mood(rating) }.mkString(", ")
											}
											case actionName => { @list.length @actionName }
										}
									}.mkString(", ")
								</li>
							}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget">
					<div class="widget-header">Utilisateurs</div>
					<div class="widget-body">
						<ol>
							@UserActionSrv.byUser(actions).map { case (user, userActions) =>
								<li>
									User <a href="@routes.Users.details(user.uuid)">@user.saloonMemo @user.uuid</a>
									@UserActionSrv.byActionName(userActions).map { case (actionName, list) =>
										@actionName match {
											case "mood" => {
												@UserActionSrv.byMood(list).map { case (rating, moodList) => @moodList.length @mood(rating) }.mkString(", ")
											}
											case "subscribe" => { <a href="@routes.Events.report(event.uuid, list.head.user.uuid)">@list.length subscribe</a> }
											case actionName => { @list.length @actionName }
										}
									}
								</li>
							}
						</ol>
					</div>
				</div>
			</div>
		</div>
	}
}
