@(event: EventUI, stats: List[(EventItem, Map[String, Int])], users: List[(User, Map[String, Int])])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout(event.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Events.list()" class="back-btn"><i class="fa fa-arrow-left"></i>Evénements</a>
					@event.name
					<div class="pull-right">
						<a href="@routes.Events.update(event.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@routes.Events.delete(event.uuid)" class="form-button"><button type="submit" class="btn btn-danger">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(event)
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Statistiques</div>
				<div class="widget-body">
					<ol>
						@stats.map { stat =>
							<li>
								@stat._1 match {
									case models.Session(uuid,eventId,name,_,_,_,_,_,_,_,_,_,_,_) => { Session <a href="@routes.Sessions.details(eventId, uuid)">@name</a> }
									case models.Exponent(uuid,eventId,name,_,_,_,_,_,_,_,_,_,_,_,_,_) => { Exposant <a href="@routes.Exponents.details(eventId, uuid)">@name</a> }
									case models.Event(uuid,name,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_) => { Evénement <a href="@routes.Events.details(uuid)">@name</a> }
									case unknown => { Inconnu @unknown }
								}
								@stat._2.map(s => s._2+" "+s._1).mkString(", ")
							</li>
						}
					<ol>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Utilisateurs</div>
				<div class="widget-body">
					<ol>
						@users.map { case (user, stats) =>
							<li>
								User <a href="@routes.Users.details(user.uuid)">@user.saloonMemo @user.uuid</a>
								@stats.map(s => s._2+" "+s._1).mkString(", ")
							</li>
						}
					<ol>
				</div>
			</div>
		</div>
	</div>
}
