@(event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout(event.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Events.list()" class="back-btn"><i class="fa fa-arrow-left"></i>Evénements</a>
					@event.name
					<div class="pull-right">
						<a href="@routes.Events.update(event.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@routes.Events.delete(event.uuid)" class="form-button"><button type="submit" class="btn btn-danger">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(event)
				</div>
			</div>
		</div>
	</div>
}