@import models.event.Event
@import helpers.forms._
@import services.FileImporter
@(event: Event, urlImportForm: Form[UrlImportConfig], importForm: Form[FileImportConfig])(implicit flash: Flash)

@layout("Operations pour "+event.name){
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Events.details(event.uuid)" class="back-btn"><i class="fa fa-arrow-left"></i>@event.name</a>
					Mettre à jour l'événement complet
				</div>
				<div class="widget-body">
					@if(event.meta.refreshUrl.isDefined){
						<label>Depuis la référence :</label><br>
						<a href="@event.meta.refreshUrl.get" target="_blank">@event.meta.refreshUrl.get</a><br>
						<a href="@routes.Events.refresh(event.uuid)" class="btn btn-success">Mettre à jour</a><br>
						<br>
					}
					<form method="POST" action="@routes.Events.urlImport(event.uuid)">
						@fieldVertical(urlImportForm("url"), 'label -> "Depuis son url :"){field => @inputText(field, 'placeholder -> "ex: https://saloonapp.herokuapp.com/events/d670f172-ce20-45dc-8822-6b854dd77a06")}
						<button type="submit" class="btn btn-success">Mettre à jour</button>
					</form>
				</div>
			</div>
			<div class="widget">
				<div class="widget-header">Envoi du bilan</div>
				<div class="widget-body">
					<a href="@routes.Events.reportsPreview(event.uuid)" class="btn btn-success">Prévisualiser les bilans</a>
				</div>
			</div>
			<div class="widget">
				<div class="widget-header">Exporter les données</div>
				<div class="widget-body">
					<form method="POST" action="@routes.Sessions.fileExport(event.uuid)">
						<button type="submit" class="btn btn-success">Exporter les sessions (.csv)</button>
					</form>
					<br>
					<form method="POST" action="@routes.Exponents.fileExport(event.uuid)">
						<button type="submit" class="btn btn-success">Exporter les exposants (.csv)</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Importer les sessions</div>
				<div class="widget-body">
					<form method="POST" action="@routes.Sessions.fileImport(event.uuid)" enctype="multipart/form-data">
						@inputHidden(importForm("eventId"), 'value -> event.uuid)
						@fieldCheckbox(importForm("shouldClean"), 'label -> "Supprimer les éléments existants")
						@fieldVertical(importForm("encoding"), 'label -> "Encodage"){ field => @inputSelect(field, FileImportConfig.encodings) }
						@fieldVertical(importForm("importedFile"), 'label -> "Fichier"){ field =>
							@inputFile(field, 'required -> "true")
							<p class="help-block">
								Le fichier doit être un fichier .csv avec une ligne d'en-tête et le séparateur ';'.<br>
								Champs obligatoires : <b>name</b><br>
								Pour les autres champs, téléchargez un export comment exemple.<br>
								Format des dates : @FileImporter.datePattern<br>
							</p>
						}
						<button type="submit" class="btn btn-success">Importer les sessions</button>
					</form>
				</div>
			</div>
			<div class="widget">
				<div class="widget-header">Importer les exposants</div>
				<div class="widget-body">
					<form method="POST" action="@routes.Exponents.fileImport(event.uuid)" enctype="multipart/form-data">
						@inputHidden(importForm("eventId"), 'value -> event.uuid)
						@fieldCheckbox(importForm("shouldClean"), 'label -> "Supprimer les éléments existants")
						@fieldVertical(importForm("encoding"), 'label -> "Encodage"){ field => @inputSelect(field, FileImportConfig.encodings) }
						@fieldVertical(importForm("importedFile"), 'label -> "Fichier"){ field =>
							@inputFile(field, 'required -> "true")
							<p class="help-block">
								Le fichier doit être un fichier .csv avec une ligne d'en-tête et le séparateur ';'.<br>
								Champs obligatoires : <b>name</b><br>
								Pour les autres champs, téléchargez un export comment exemple.<br>
								Format des dates : @FileImporter.datePattern<br>
							</p>
						}
						<button type="submit" class="btn btn-success">Importer les exposants</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}