@(startOpt: Option[org.joda.time.DateTime], endOpt: Option[org.joda.time.DateTime], template: String = "dd MMMM YYYY", default: String = "N/A")
@endOpt.map { end =>
	@startOpt.map { start =>
		@if(start.withTimeAtStartOfDay().isEqual(end.withTimeAtStartOfDay())){@start.toString(template)}
		@if(!start.withTimeAtStartOfDay().isEqual(end.withTimeAtStartOfDay())){@start.toString("dd")-@end.toString(template)}
	}.getOrElse {
		@end.toString(template)
	}
}.getOrElse {
	@startOpt.map(_.toString(template)).getOrElse(default)
}