@(pageName: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("SalooN"){
    @partials.header()
    <section id="main">
        @partials.sidebar(pageName)
        @partials.chat()
        <section id="content">
            <div class="container">
                <div class="block-header">
                    <h2>Pure CSS3 Animations</h2>
                
                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="md md-trending-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="md md-done-all"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Manage Widgets</a>
                                </li>
                                <li>
                                    <a href="">Widgets Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                
                </div>
                
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>Attention Seekers <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/1.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounce</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flash</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">pulse</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rubberBand</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">shake</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">swing</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">tada</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">wobble</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Flippers <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/6.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flip</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flipInX</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flipInY</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flipOutX</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">flipOutY</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Light Speed <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/7.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">lightSpeedIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">lightSpeedOut</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Specials <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/1.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">hinge</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rollIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rollOut</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>Bouncing Entrances <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/2.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceInDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceInLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceInRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceInUp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Bouncing Exits <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/3.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceOut</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceOutDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceOutLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceOutRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">bounceOutUp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Rotating Entrances <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/8.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateInDownLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateInDownRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateInUpLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateInUpRight</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Rotating Exits <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/9.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateOut</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateOutDownLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateOutDownRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateOutUpLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">rotateOutUpRight</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>Fadeing Entrances <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/4.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInDownBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInLeftBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInRightBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInUp</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeInUpBig</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Fadeing Exits <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/5.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOut</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutDownBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutLeftBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutRightBig</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutUp</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">fadeOutUpBig</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Zoom Entrances <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/4.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomIn</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomInDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomInLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomInRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomInUp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Zoom Exits <small>Click on the buttons below to start the animation</small></h2>
                            </div>
                            
                            <div class="card-body card-padding animation-demo">
                                <img src="@routes.Assets.at("backend/sample/images/headers/sm/3.png")" alt="">
                                    
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomOut</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomOutDown</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomOutLeft</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomOutRight</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn bgm-cyan">zoomOutUp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    @partials.footer()
}
