@import models.event.Event
@import models.event.Attendee
@import helpers.format._
@import views.html.Application.format._
@(attendee: Attendee, event: Event)

<tr>
	<td><img src="@attendee.images.avatar" style="max-height: 32px;"> @attendee.name</td>
	<td>@attendee.description</td>
	<td><span class="label label-primary">@attendee.info.role</span></td>
	<td>@attendee.info.job</td>
	<td>@attendee.info.company</td>
	<td>
		@attendee.info.website.map { url => <a href="@url" target="_blank"><i class="fa fa-link"></i></a> }.getOrElse("")
		@attendee.social.blogUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-link"></i></a> }.getOrElse("")
		@attendee.social.facebookUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-facebook"></i></a> }.getOrElse("")
		@attendee.social.twitterUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-twitter"></i></a> }.getOrElse("")
		@attendee.social.linkedinUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-linkedin"></i></a> }.getOrElse("")
		@attendee.social.githubUrl.map { url => <a href="@url" target="_blank"><i class="fa fa-github"></i></a> }.getOrElse("")
	</td>
	<td>
		<a href="@routes.Attendees.details(event.uuid, attendee.uuid)" class="btn btn-default">Détails</a>
		<a href="@routes.Attendees.update(event.uuid, attendee.uuid)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
		<form method="POST" action="@routes.Attendees.delete(event.uuid, attendee.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm"><i class="fa fa-trash-o"></i></button></form>
	</td>
</tr>