@import conferences.models.Conference
@(baseUrl: String, closingCFPs: List[Conference], incomingConferences: List[Conference], newVideos: List[Conference], newCFPs: List[Conference], newConferences: List[Conference])
<h1>Nouveautés des conférences tech en France</h1>
@if(closingCFPs.length > 0){
    <h2>Call For Papers bientôt terminés</h2>
    @closingCFPs.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Application.detail(conf.id)">@conf.name</a>, fermeture le @conf.cfp.map(_.end.toString("dd/MM/yyyy"))</p>
    }
}
@if(incomingConferences.length > 0){
    <h2>Conférences à venir</h2>
    @incomingConferences.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Application.detail(conf.id)">@conf.name</a></p>
    }
}
@if(newVideos.length > 0){
    <h2>Vidéos des conférences publiées</h2>
    @newVideos.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Application.detail(conf.id)">@conf.name</a></p>
    }
}
@if(newCFPs.length > 0){
    <h2>Conférences ajoutées récemment</h2>
    @newCFPs.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Application.detail(conf.id)">@conf.name</a></p>
    }
}
@if(newConferences.length > 0){
    <h2>Call For Papers ajoutés récemment</h2>
    @newConferences.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Application.detail(conf.id)">@conf.name</a></p>
    }
}
