@import common.views.Helpers.LocalDateImprovements
@import conferences.models.Conference
@import org.joda.time.LocalDate
@import common.views.html.format._
@(baseUrl: String, closingCFPs: List[Conference], incomingConferences: List[Conference], newData: List[(Conference, Map[String, Boolean])])(implicit lang: Lang)
<h1>Nouveautés des conférences tech en France</h1>
@if(closingCFPs.length > 0){
    <h2>Appels à orateurs qui se terminent bientôt</h2>
    @closingCFPs.map { conf =>
        <p>@dateOpt(conf.cfp.map(_.end)) : fermeture de l'appel à orateur de <a href="@baseUrl@conferences.controllers.routes.Conferences.detail(conf.id)">@conf.name</a> (@conf.location.flatMap(_.locality.map("à "+_+", ")).getOrElse("")le @date(conf.start))</p>
    }
}
@if(incomingConferences.length > 0){
    <h2>Conférences à venir</h2>
    @incomingConferences.map { conf =>
        <p><a href="@baseUrl@conferences.controllers.routes.Conferences.detail(conf.id)">@conf.name</a> (@conf.location.flatMap(_.locality.map("à "+_+", ")).getOrElse("")le @date(conf.start))</p>
    }
}
@if(newData.length > 0){
    <h2>Nouveautés</h2>
    <ul>
    @newData.map { case (conf, data) =>
        <li>
            @date(conf.start) : <b><a href="@baseUrl@conferences.controllers.routes.Conferences.detail(conf.id)">@conf.name</a></b>
            <ul>
                @if(data.getOrElse("cfp", false)){
                    @conf.cfp.filter(_.end.isTodayOrAfter).map{ cfp => <li>Ouverture du <a href="@cfp.siteUrl">CFP</a> (fin le @date(cfp.end))</li> }
                }
                @if(data.getOrElse("videos", false)){
                    @conf.videosUrl.map{ url => <li>Publication des <a href="@url">vidéos</a></li> }
                }
            </ul>
        </li>
    }
    </ul>
}
PS: comme vous le constatez, le site et la newsletter sont encore très rudimentaires...
    Ils devraient évoluer prochainement, en attendant, toute contribution/suggestion est bienvenue (en répondant simplement à ce mail) :)
