@import common.models.event.Event
@import common.models.event.Attendee
@import common.models.event.Exponent
@import backend.forms.ExponentCreateData
@import common.models.user.User
@import backend.views.html._
@import backend.views.html.partials._
@(exponentForm: Form[ExponentCreateData], exponent: Exponent, allAttendees: List[Attendee], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Modifier "+exponent.name, "myEvents_"+event.uuid+"_exponents_"+exponent.uuid+"_edit", Map(event.uuid -> event.name, exponent.uuid -> exponent.name)){
	<div class="card">
		<div class="card-header ch-alt">
			<h2>Modifier @exponent.name :</h2>
		</div>
		<div class="card-body card-padding">
			<form class="form-horizontal" method="POST" action="@backend.controllers.routes.Exponents.doUpdate(event.uuid, exponent.uuid)">
				@partials.form(exponentForm, allAttendees, event)
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<a href="@backend.controllers.routes.Exponents.details(event.uuid, exponent.uuid)" class="btn btn-default">Annuler</a>
						<button type="submit" class="btn btn-success">Modifier</button>
					</div>
				</div>
			</form>
		</div>
	</div>
}