@import common.models.event.Event
@import common.models.event.Attendee
@import common.models.event.Session
@import common.models.event.Exponent
@import common.models.user.User
@import common.views.html.format._
@import backend.views.html._
@import backend.views.html.partials._
@(attendee: Attendee, attendeeSessions: List[Session], attendeeExponents: List[Exponent], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout(attendee.name+", "+event.name, attendee.name, (backend.controllers.routes.Application.index(), "Accueil"), (backend.controllers.routes.Events.list(), "Événements"), (backend.controllers.routes.Events.details(event.uuid), event.name), (backend.controllers.routes.Attendees.list(event.uuid), "Participants")){
	<div class="block-header">
		<h2>
			@attendee.name
			<small>
				@List(attendee.info.job, attendee.info.company).filter(_!="").mkString(" chez ")
				@role(attendee.info.role)
			</small>
		</h2>
		<ul class="actions">
			<li><a href="@backend.controllers.routes.Attendees.update(event.uuid, attendee.uuid)"><i class="md md-edit"></i></a></li>
			<li><form method="POST" action="@backend.controllers.routes.Attendees.delete(event.uuid, attendee.uuid)"><button type="submit" class="confirm"><i class="md md-delete"></i></button></form></li>
		</ul>
	</div>
	<div class="card" id="profile-main">
		<div class="pm-overview c-overflow">
			<div class="pmo-pic">@avatar(attendee.images.avatar, attendee.name, 'class->"img-responsive")</div>
			<div class="pmo-block pmo-contact hidden-xs">
				<ul>
					<li><i class="md md-create"></i> enregistré le @datetime(attendee.meta.created)</li>
				</ul>
			</div>
		</div>
		<div class="pm-body clearfix">
			<div class="pmb-block">
				<div class="pmbb-header"><h2><i class="md md-format-align-left m-r-5"></i> Description</h2></div>
				<div class="p-l-30">
					@Html(attendee.descriptionHTML)
				</div>
			</div>
			@if(attendee.info.website.isDefined || attendee.social.blogUrl.isDefined || attendee.social.facebookUrl.isDefined || attendee.social.twitterUrl.isDefined || attendee.social.linkedinUrl.isDefined || attendee.social.githubUrl.isDefined){
				<div class="pmb-block">
					<div class="pmbb-header"><h2><i class="md md-phone m-r-5"></i> Contact</h2></div>
					<div class="pmbb-body p-l-30">
						@attendee.info.website.map { url => <dl class="dl-horizontal"><dt>Site</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
						@attendee.social.blogUrl.map { url => <dl class="dl-horizontal"><dt>Blog</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
						@attendee.social.facebookUrl.map { url => <dl class="dl-horizontal"><dt>Facebook</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
						@attendee.social.twitterUrl.map { url => <dl class="dl-horizontal"><dt>Twitter</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
						@attendee.social.linkedinUrl.map { url => <dl class="dl-horizontal"><dt>Linkedin</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
						@attendee.social.githubUrl.map { url => <dl class="dl-horizontal"><dt>Github</dt><dd><a href="@url" target="_blank">@url</a></dd></dl> }.getOrElse("")
					</div>
				</div>
			}
			@if(attendeeSessions.length > 0){
				<div class="pmb-block">
					<div class="pmbb-header"><h2><i class="md md-schedule m-r-5"></i> Sessions</h2></div>
					<div class="pmbb-body p-l-30 media-list">
						@attendeeSessions.map { session => @sessionMedia(session, event) }
					</div>
				</div>
			}
			@if(attendeeExponents.length > 0){
				<div class="pmb-block">
					<div class="pmbb-header"><h2><i class="md md-wallet-travel m-r-5"></i> Exposants</h2></div>
					<div class="pmbb-body p-l-30 media-list">
						@attendeeExponents.map { exponent => @exponentMedia(exponent, event) }
					</div>
				</div>
			}
		</div>
	</div>
}