@import common.models.user.User
@import common.models.user.RequestId
@import authentication.models.RegisterInfo
@import com.mohiva.play.silhouette.core.providers.Credentials
@import common.Config
@import common.views.html.forms._
@(requestId: RequestId, registerForm: Form[RegisterInfo])(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

<!DOCTYPE html>
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@if(!Config.Application.isProd){(@Config.Application.env) }Création de votre compte SalooN</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("favicon."+Config.Application.env+".png")">

	<link rel="stylesheet" href="@routes.Assets.at("libs/animate.css/animate.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("libs/material-design-iconic-font/css/material-design-iconic-font.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("styles/backend."+Config.Application.env+".css")">
</head>
<body class="login-content">
	<div class="lc-block toggled">
		<h2 class="m-t-0 m-b-20">Créez votre compte SalooN :</h2>
		@helper.form(action=authentication.controllers.routes.Auth.doCreateAccount(requestId)){
			<div class="row">
				<div class="col-sm-6">
					<div class="input-group m-b-20 @if(registerForm("firstName").hasErrors){has-error}">
						<span class="input-group-addon"><i class="md md-face-unlock"></i></span>
						<div class="fg-line">@inputText(registerForm("firstName"), 'placeholder->"Prénom", 'autofocus->"true")</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-group m-b-20 @if(registerForm("lastName").hasErrors){has-error}">
						<div class="fg-line">@inputText(registerForm("lastName"), 'placeholder->"Nom")</div>
					</div>
				</div>
			</div>
			<div class="input-group m-b-20 @if(registerForm("password").hasErrors){has-error}">
				<span class="input-group-addon"><i class="md md-lock"></i></span>
				<div class="fg-line">@inputText(registerForm("password"), 'type->"password", 'placeholder->"Mot de passe")</div>
			</div>
			<button class="btn btn-login btn-danger btn-float" type="submit"><i class="md md-arrow-forward"></i></button>
		}
	</div>

	<!-- Javascript Libraries -->
	<script type="text/javascript" src="@routes.Assets.at("libs/jquery/jquery-2.1.4.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("libs/bootstrap-growl/bootstrap-growl.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("libs/Waves/dist/waves.min.js")"></script>
	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
		<script type="text/javascript" src="@routes.Assets.at("libs/jquery-placeholder/jquery.placeholder.min.js")"></script>
	<![endif]-->
	<script type="text/javascript" src="@routes.Assets.at("backend/scripts/login.js")"></script>
</body>
</html>
