@import authentication.models.RegisterInfo
@import common.views.html.forms._
@(signInForm: Form[RegisterInfo])(implicit request: RequestHeader)

@main("Silhouette - Sign Up") {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> @msg
        </div>
    }

    <div class="container">
      @helper.form(action = authentication.controllers.routes.Auth.doRegister(), 'class->"form-signin") {
        <h2 class="form-signin-heading">Please register</h2>
        <label for="firstName" class="sr-only">First name</label>
        @inputText(signInForm("firstName"), 'placeholder->"First name")
        <label for="lastName" class="sr-only">Last name</label>
        @inputText(signInForm("lastName"), 'placeholder->"Last name")
        <label for="email" class="sr-only">Email address</label>
        @inputText(signInForm("email"), 'placeholder->"Email")
        <label for="password" class="sr-only">Password</label>
        @inputText(signInForm("password"), 'type->"password", 'placeholder->"Password")
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p>Already a member? <a href="@authentication.controllers.routes.Auth.login">Login now</a></p>
      }
    </div> <!-- /container -->
}
