@import conferences.models.ConferenceData
@import conferences.models.ConferenceId
@import common.views.html.forms._
@(conferenceForm: Form[ConferenceData], tags: List[(String, Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(if(conferenceForm("id").value.getOrElse("") == "") {"Ajouter une conférence"} else {"Modifier la conférence \""+conferenceForm("name").value.getOrElse("")+"\""}) {
    @partials.header(if(conferenceForm("id").value.getOrElse("") == "") {"create"} else {""})

    <div class="container" role="main">
        <div class="page-header">
            <h1>@if(conferenceForm("id").value.getOrElse("") == "") {Ajouter une conférence} else {Modifier la conférence "@conferenceForm("name").value"}</h1>
        </div>

        @helper.form(action=conferenceForm("id").value.map(id => conferences.controllers.routes.Application.doEdit(ConferenceId(id))).getOrElse(conferences.controllers.routes.Application.doCreate()), 'class->"form-horizontal conference-form") {
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#global-panel">Général</a></h4>
                    </div>
                    <div id="global-panel" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            @conferenceForm("id").value.map { _ => @inputHidden(conferenceForm("id")) }
                            @fieldHorizontal(conferenceForm("siteUrl"), 'label -> "Site officiel") { field => @inputText(field, 'placeholder -> "ex: http://devoxx.fr/") }
                            @fieldHorizontal(conferenceForm("name"), 'label -> "Nom") { field => @inputText(field, 'placeholder -> "ex: Devoxx France 2016") }
                            @fieldHorizontal(conferenceForm("dates"), 'label -> "Dates") { field => @inputDateRange(field, 'placeholder -> "ex: 20/04/2016 - 22/04/2016") }
                            @fieldHorizontal(conferenceForm("tags"), 'label -> "Tags") { field => @inputTags(field, tags.sortBy(-_._2).map(_._1), 'placeholder -> "ex: web, java, tech") }
                            @* @fieldHorizontal(conferenceForm("venue.name"), 'label -> "Lieu", 'constraints -> "false") { field =>
                                <div class="row">
                                    <div class="col-md-3">@inputText(field, 'placeholder -> "ex: Palais des congrès", 'class -> "place-picker")</div>
                                    <div class="col-md-3">@inputText(conferenceForm("venue.street"), 'placeholder -> "ex: 2 Place de la Porte Maillot", 'constraints -> "false")</div>
                                    <div class="col-md-2">@inputText(conferenceForm("venue.zipCode"), 'placeholder -> "ex: 75017", 'constraints -> "false")</div>
                                    <div class="col-md-2">@inputText(conferenceForm("venue.city"), 'placeholder -> "ex: Paris", 'constraints -> "false")</div>
                                    <div class="col-md-2">@inputText(conferenceForm("venue.country"), 'placeholder -> "ex: France", 'constraints -> "false")</div>
                                </div>
                            }*@
                            @fieldHorizontal(conferenceForm("location"), 'label -> "Lieu") { field => @inputGMapPlace(field, 'placeholder -> "ex: Palais des congrès") }
                            @fieldHorizontal(conferenceForm("social.twitter.account"), 'label -> "Liens sociaux", 'constraints -> "false") { field =>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="social_twitter_account">Compte twitter</label>
                                        @inputText(field, 'placeholder -> "ex: DevoxxFR")
                                    </div>
                                    <div class="col-md-3">
                                        <label for="social_twitter_hashtag">Hashtag twitter</label>
                                        @inputText(conferenceForm("social.twitter.hashtag"), 'placeholder -> "ex: DevoxxFr", 'constraints -> "false")
                                    </div>
                                </div>
                            }
                            @fieldHorizontal(conferenceForm("description"), 'label -> "Description", 'constraints -> "false") { field => @inputTextarea(field, 'placeholder -> "ex: La conférence pour les Développeurs Passionnés", 'rows -> "4") }
                            @fieldHorizontal(conferenceForm("logo"), 'label -> "Logo", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: http://www.motwin.com/wp-content/uploads/2015/04/Devoxx.png") }
                            @fieldHorizontal(conferenceForm("videosUrl"), 'label -> "Vidéos", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: https://www.youtube.com/channel/UCsVPQfo5RZErDL41LoWvk0A") }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#cfp-panel">Appel à orateurs</a></h4>
                    </div>
                    <div id="cfp-panel" class="panel-collapse collapse @if(conferenceForm("cfp.siteUrl").value.getOrElse("") != "" || conferenceForm("cfp.dates").value.getOrElse("") != ""){in}" role="tabpanel">
                        <div class="panel-body">
                            @fieldHorizontal(conferenceForm("cfp.siteUrl"), 'label -> "Site", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: http://cfp.devoxx.fr/") }
                            @fieldHorizontal(conferenceForm("cfp.dates"), 'label -> "Dates", 'constraints -> "false") { field => @inputDateRange(field, 'placeholder -> "ex: 11/11/2015 - 31/01/2016") }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#ticket-panel">Tickets</a></h4>
                    </div>
                    <div id="ticket-panel" class="panel-collapse collapse @if(conferenceForm("tickets.siteUrl").value.getOrElse("") != "" || conferenceForm("tickets.dates").value.getOrElse("") != ""){in}" role="tabpanel">
                        <div class="panel-body">
                            @fieldHorizontal(conferenceForm("tickets.siteUrl"), 'label -> "Site", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: http://reg.devoxx.fr/") }
                            @fieldHorizontal(conferenceForm("tickets.dates"), 'label -> "Dates", 'constraints -> "false") { field => @inputDateRange(field, 'placeholder -> "ex: 01/12/2015 - 20/04/2016") }
                            @fieldHorizontal(conferenceForm("tickets.from"), 'label -> "Prix min") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 180") }
                            @fieldHorizontal(conferenceForm("tickets.to"), 'label -> "Prix max") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 500") }
                            @fieldHorizontal(conferenceForm("tickets.currency"), 'label -> "Monnaie", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: €") }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#metrics-panel">Données</a></h4>
                    </div>
                    <div id="metrics-panel" class="panel-collapse collapse @if(conferenceForm("metrics.attendeeCount").value.getOrElse("") != "" || conferenceForm("metrics.sessionCount").value.getOrElse("") != "" || conferenceForm("metrics.sinceYear").value.getOrElse("") != ""){in}" role="tabpanel">
                        <div class="panel-body">
                            @fieldHorizontal(conferenceForm("metrics.attendeeCount"), 'label -> "Nombre de participants") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 2500") }
                            @fieldHorizontal(conferenceForm("metrics.sessionCount"), 'label -> "Nombre de présentations") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 220") }
                            @fieldHorizontal(conferenceForm("metrics.sinceYear"), 'label -> "Année de lancement") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 2012") }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#user-panel">Vos infos</a></h4>
                    </div>
                    <div id="user-panel" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            @fieldHorizontal(conferenceForm("createdBy.name"), 'label -> "Nom/Pseudo") { field => @inputText(field, 'placeholder -> "ex: John Doe") }
                            @fieldHorizontal(conferenceForm("createdBy.email"), 'label -> "Email", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: mail@example.com") }
                            @fieldHorizontal(conferenceForm("createdBy.siteUrl"), 'label -> "Site", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: http://www.johndoe.com/") }
                            @fieldHorizontal(conferenceForm("createdBy.twitter"), 'label -> "Twitter", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: https://twitter.com/johndoe") }
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">@fieldCheckbox(conferenceForm("createdBy.public"), 'label -> "Affiché publiquement")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">@if(conferenceForm("id").value.getOrElse("") == "") {Ajouter la conférence} else {Modifier "@conferenceForm("name").value"}</button>
                </div>
            </div>
        }
    </div>

    @partials.footer()
}
