@(period: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(if(period == "future"){ "Conférences à venir" } else { "Conférences passées" }){
    @partials.header("list")

    <div class="container" role="main">
        <div class="jumbotron">
            <h1>Conférence liste</h1>
            <p>
                Ce site collaboratif propose de lister les conférences à venir.<br>
                Plutôt centré sur la France et les conférences autours de l'informatiques mais ouvert à tout :)
            </p>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" @if(period == "future"){class="active"}><a href="@conferences.controllers.routes.Application.future()">À venir</a></li>
            <li role="presentation" @if(period == "past"){class="active"}><a href="@conferences.controllers.routes.Application.past()">Passées</a></li>
        </ul>
        <br>

        <div class="row">
            <div class="col-md-9">
                @partials.conferenceItem()
                @partials.conferenceItem()
            </div>
            <div class="col-md-3">
                @partials.search()
            </div>
        </div>
    </div>
}
