@import org.joda.time.DateTime
@import conferences.models.Conference
@(conferenceList: List[Conference])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Historique des modifications"){
    @partials.header("")

    <div class="container" role="main">
        <div class="page-header">
            <h1>Historique des modifications</h1>
        </div>

        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dates</th>
                    <th>City</th>
                    <th>Links</th>
                    <th>Posted</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @conferenceList.map { conference =>
                    @partials.conferenceRow(conference, "history")
                }
            </tbody>
        </table>
    </div>

    @partials.footer()
}
