@import org.joda.time.DateTime
@import conferences.models.Conference
@import common.services.TwitterCard
@(conference: Conference)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(conference.name, Some(conference.toTwitterCard())){
    @partials.header("")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@conference.name</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                @partials.conferenceCard(conference, "public")
            </div>
        </div>

        <div class="disqus">
            <div id="disqus_thread"></div>
            <script>
                     var disqus_config = function(){
                         this.page.url = '@conferences.controllers.routes.Application.detail(conference.id).absoluteURL(false)';
                         this.page.identifier = '@conference.id';
                     };
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = '//saloonapp.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>

    @partials.footer()
}
