@import common.Config
@import common.services.TwitterCard
@(title: String, twitterCard: Option[TwitterCard] = None)(content: Html)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Liste des conférences techniques à venir en France.">
        <meta name="author" content="Loïc Knuchel">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("favicon."+Config.Application.env+".png")">

        <title>@if(!Config.Application.isProd){(@Config.Application.env) }@title | SalooN</title>

        @twitterCard.map { c =>
            <meta name="twitter:card" content="@c.format" />
            <meta name="twitter:site" content="@c.owner" />
            <meta name="twitter:title" content="@c.title" />
            <meta name="twitter:description" content="@c.description" />
            <meta name="twitter:image" content="@c.imageUrl" />
        }.getOrElse {
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@@conferencelist_" />
            <meta name="twitter:title" content="Conférence liste by SalooN - The easiest way to follow french tech conferences" />
            <meta name="twitter:description" content="Conférence liste recense les conférence tech en France et propose une newsletter et un compte twitter pour suivre facilement toute leur actualité" />
            <meta name="twitter:image" content="https://avatars2.githubusercontent.com/u/11368266?v=3&s=200" />
        }
        <link href="@routes.Assets.at("conferences/libs/bootstrap-3.3.6/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("conferences/libs/font-awesome-4.6.3/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("conferences/libs/fullcalendar-2.8.0/fullcalendar.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("conferences/libs/fullcalendar-2.8.0/fullcalendar.print.css")" rel="stylesheet" type="text/css" media="print">
        <link href="@routes.Assets.at("conferences/libs/bootstrap.daterangepicker-2.1.23/daterangepicker.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("conferences/libs/bootstrap-datetimepicker-2.3.11/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("libs/select2/select2.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("libs/select2/select2-bootstrap.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("conferences/libs/mailchimp/horizontal-slim-10_7.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("styles/conferences."+Config.Application.env+".css")" rel="stylesheet" type="text/css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body role="document">
        @content
        <script src="@routes.Assets.at("conferences/libs/jquery-1.11.3/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/bootstrap-3.3.6/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/moment-2.13.0/min/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/moment-2.13.0/locale/fr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/bootstrap.daterangepicker-2.1.23/daterangepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/bootstrap-datetimepicker-2.3.11/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/bootstrap-datetimepicker-2.3.11/js/locales/bootstrap-datetimepicker.fr.js")" type="text/javascript" charset="UTF-8"></script>
        <script src="@routes.Assets.at("libs/select2/select2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/libs/fullcalendar-2.8.0/fullcalendar.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/config.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/conference_form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/presentation_form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/person_form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("conferences/init.js")" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@Config.Google.Maps.key&signed_in=true&libraries=places&language=en&callback=googleMapsInit" type="text/javascript" async defer></script>
        <script src="@routes.Assets.at("conferences/libs/addevent-1.6.1/atc.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
                window.addeventasync = function(){
                    addeventatc.settings({
                        mouse: true,
                        css: false,
                        dropdown: {order:'google,outlook,outlookcom,appleical,yahoo'}
                    });
                    addeventatc.register('button-dropdown-click', function(obj){
                        if(ga){ ga('send', {hitType: 'event', eventCategory: 'AddToCalendar', eventAction: 'click', eventLabel: obj.service}); }
                    });
                };
        </script>
        @if(Config.Application.isProd) {
            <script type="text/javascript">
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-80109134-1', 'auto');
                    ga('send', 'pageview');
            </script>
        }
    </body>
</html>
