@import common.models.user.Organization
@import common.models.values.typed.Email
@(invitedEmail: Email, organization: Organization)

Bonjour,<br>
<br>
<a href="mailto:@invitedEmail">@invitedEmail</a> n'a pas accepté votre invitation à rejoindre l'organisation <b>@organization.name</b> sur SalooN.<br>
<br>
Si c'est une erreur, vous pouvez l'inviter à nouveau, pensez à bien décrire la raison de cette invitation dans la description pour éviter tout problème.<br>
<br>
Bonne journée et à bientôt,<br>
L'équipe SalooN