@import common.models.user.User
@import common.models.user.Organization
@import common.models.user.OrganizationInvite
@import common.models.user.Request
@(organization: Organization, organizationOwner: User, request: Request, acceptUrl: String, rejectUrl: String)

Bonjour,<br>
<br>
@organizationOwner.name() vient de vous inviter à rejoindre l'organisation <b>@organization.name</b> sur SalooN
@request.content match {
	case OrganizationInvite(_, _, commentOpt, _) => {
		@commentOpt.map{comment => :<br><blockquote>@comment</blockquote>}
	}
	case _ => {.}
}
<br>
<br>
Vous pouvez <a href="@acceptUrl" target="_blank">ACCEPTER</a> ou <a href="@rejectUrl" target="_blank">IGNORER</a> cette invitation.<br>
<br>
Bonne journée et à bientôt,<br>
L'équipe SalooN