@import common.models.user.User
@import common.models.user.Organization
@import common.models.user.OrganizationInvite
@import common.models.user.Request
@(organization: Organization, organizationOwner: User, commentOpt: Option[String], request: Request, inviteUrl: String)

Bonjour,<br>
<br>
@organizationOwner.name() vient de vous inviter à rejoindre l'organisation <b>@organization.name</b> sur SalooN
@commentOpt.map{comment => :<br><blockquote>@comment</blockquote>}.getOrElse{.}
<br>
<br>
Pour rejoindre cette organisation, vous devez d'abord <a href="@inviteUrl" target="_blank">créer votre compte SalooN</a>.
<br>
<br>
Bonne journée et à bientôt,<br>
L'équipe SalooN