@import common.views._
@(field: Field, args: (Symbol, String)*)
<div class="checkbox @if(field.hasErrors){has-error}">
	<label for="@field.name">
		<input
			type="checkbox"
			name="@field.name"
			id="@field.id"
			value="true"
			@Helpers.toHtmlArgs(args)
			@if(Helpers.isRequired(field) || Helpers.hasArg(args, "required", "true")){required}
			@if(field.value == Some("true")) {checked}>
		@Helpers.getArg(args, "label", field.name)
	</label>
    @if(!Helpers.hasArg(args, "errors", "false")){@fieldErrors(field)}
    @if(!Helpers.hasArg(args, "constraints", "false")){@fieldConstraints(field)}
</div>