@import common.views._
@(field: Field, args: (Symbol, String)*)(input: Field => Html)
<div class="form-group @Helpers.getArg(args, "class") @if(field.hasErrors && !Helpers.hasArg(args, "errors", "false")){has-error}">
  <label for="@field.id" class="control-label col-sm-2">@Helpers.getArg(args, "label", field.name)</label>
  <div class="col-sm-10">
    @input(if(Helpers.hasArg(args, "constraints", "false")){ field.copy(constraints = Seq()) } else { field })
    @if(!Helpers.hasArg(args, "errors", "false")){@fieldErrors(field)}
    @if(!Helpers.hasArg(args, "constraints", "false")){@fieldConstraints(field)}
  </div>
</div>