@import common.views._
@(field: Field, options: Seq[(String, String)], args: (Symbol, String)*)
<select class="form-control select2 @Helpers.getArg(args, "class")" id="@field.id" name="@{field.name+"[]"}"
  multiple="multiple" size="1"
  @Helpers.toHtmlArgs(args, Seq("class", "emptyOption", "multiple", "size"))
  @if(Helpers.isRequired(field) || Helpers.hasArg(args, "required", "true")){required}>
  @if(Helpers.getArg(args, "emptyOption").length > 0){ <option class="blank" value="">@Helpers.getArg(args, "emptyOption")</option> }
  @defining(if(field.indexes.isEmpty) field.value.toSet else field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet){ values =>
    @for((value, label) <- options) {
      <option value="@value" @if(values.contains(value)) {selected}>@label</option>
    }
  }
</select>
