@import common.views._
@(field: Field, options: Seq[String], args: (Symbol, String)*)
<select class="form-control select2-tags @Helpers.getArg(args, "class")" id="@field.id" name="@{field.name+"[]"}" multiple="multiple"
    @Helpers.toHtmlArgs(args, Seq("class", "emptyOption"))
    @if(Helpers.isRequired(field) || Helpers.hasArg(args, "required", "true")){required}>
@defining(if(field.indexes.isEmpty) field.value.toSet else field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet){ values =>
    @for(value <- options) {
        <option value="@value" @if(values.contains(value)) {selected}>@value</option>
    }
}
</select>
