@import services.UserActionSrv
@(event: Event, sessions: List[models.Session], exponents: List[Exponent], actions: List[UserAction], filter: String)
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width"/>
	</head>
	<body style="margin: 0; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff;">
		<div class="container" style="box-sizing: border-box; max-width: 1170px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
			<img src="@event.landingUrl" style="display: block; margin: auto;">
			<div>
				Salut,<br>
				Merci d'avoir participé à <b>@event.name</b> et utilisé SalooN.<br>
				@if(filter == "all"){ Voici le bilan complet de l'événement : }
				@if(filter == "favorites"){ Voici le bilan de ton événement : }
			</div>

			@UserActionSrv.listOpt(UserActionSrv.seenExponents(actions, exponents)).map { exponents =>
				<div>
					<h3 style="font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; line-height: 1.1;">Les exposants que tu as vu</h3>
					<div class="row">
						@exponents.map { case (exponent, moodOpt, comments) => @Mail.partials.exponent(exponent, moodOpt, comments) }
						<div class="clearfix" style="clear: both;"></div>
					</div>
				</div>
			}

			@UserActionSrv.listOpt(UserActionSrv.favoriteSessions(actions, sessions)).map { sessions =>
				<div>
					<h3 style="font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; line-height: 1.1;">Tes sessions en favoris</h3>
					<div class="row">
						@sessions.map { case (session, moodOpt, comments) => @Mail.partials.session(session, moodOpt, comments) }
						<div class="clearfix" style="clear: both;"></div>
					</div>
				</div>
			}

			@if(filter == "all"){
				@UserActionSrv.listOpt(UserActionSrv.notFavoriteSessions(actions, sessions)).map { sessions =>
					<div>
						<h3 style="font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; line-height: 1.1;">Les sessions hors favoris</h3>
						<div class="row">
							@sessions.map { case (session, moodOpt, comments) => @Mail.partials.session(session, moodOpt, comments) }
							<div class="clearfix" style="clear: both;"></div>
						</div>
					</div>
				}
				@UserActionSrv.listOpt(UserActionSrv.notSeenExponents(actions, exponents)).map { exponents =>
					<div>
						<h3 style="font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; line-height: 1.1;">Les exposants non vus</h3>
						<div class="row">
							@exponents.map { case (exponent, moodOpt, comments) => @Mail.partials.exponent(exponent, moodOpt, comments) }
							<div class="clearfix" style="clear: both;"></div>
						</div>
					</div>
				}
			}
			@if(filter == "favorites"){
				@UserActionSrv.listOpt(UserActionSrv.favoriteNotSeenExponents(actions, exponents)).map { exponents =>
					<div>
						<h3 style="font-size: 24px; margin-top: 20px; margin-bottom: 10px; font-weight: 500; line-height: 1.1;">Les exposants non vus mais en favoris</h3>
						<div class="row">
							@exponents.map { case (exponent, moodOpt, comments) => @Mail.partials.exponent(exponent, moodOpt, comments) }
							<div class="clearfix" style="clear: both;"></div>
						</div>
					</div>
				}
			}

			@event.reportEmailMessageHtml.map { message => <div>@Html(message)</div> }

			<br><br>
			PS: n'hésite pas à nous faire un feedback sur ce mail, l'application ou SalooN de manière générale.<br>
			<br>
			A bientôt,<br>
			Bob de SalooN<br>
			<br>
		</div>
	</body>
</html>