@import common.models.values.typed.AttendeeRole
@import common.models.event.Event
@import common.models.event.EventItem
@import common.models.event.Attendee
@import backend.forms.AttendeeCreateData
@import common.models.user.User
@import backend.views.html._
@import backend.views.html.partials._
@(attendeeForm: Form[AttendeeCreateData], attendee: Attendee, event: Event, eventItem: EventItem)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Modifier "+eventItem.name, Map(event.uuid -> event.name, eventItem.uuid -> eventItem.name, attendee.uuid -> attendee.name)){
	<div class="card">
		<div class="card-header ch-alt">
			<h2>Modifier @eventItem.name :</h2>
		</div>
		<div class="card-body card-padding">
			@helper.form(action=backend.controllers.routes.AttendeeTeam.doUpdate(event.uuid, eventItem.getType(), eventItem.uuid, attendee.uuid), 'class->"form-horizontal"){
				@partials.form(attendeeForm, eventItem.toExponent.map(e => AttendeeRole.exposant.unwrap).orElse(eventItem.toSession.map(e => AttendeeRole.speaker.unwrap)).getOrElse(""), event)
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<a href="@req.headers("referer")" class="btn btn-default">Annuler</a>
						<button type="submit" class="btn btn-success">Modifier</button>
					</div>
				</div>
			}
		</div>
	</div>
}