@import common.views._
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@if(!App.isProd()){(@App.getEnv()) }@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("favicon."+App.getEnv()+".png")">

		<link rel="stylesheet" href="@routes.Assets.at("libs/font-awesome/css/font-awesome.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/select2/select2.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/select2/select2-bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("styles/admin."+App.getEnv()+".css")">
	</head>
	<body>
		@content
		<script type="text/javascript" src="@routes.Assets.at("libs/jquery/jquery-1.11.2.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/jquery.cookie/jquery.cookie.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/moment/moment.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/moment/fr.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/select2/select2.min.js")"></script>
		<script type="text/javascript" src="//widget.cloudinary.com/global/all.js"></script>
		<script type="text/javascript" src="@routes.Assets.at("admin/scripts/rdash.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("admin/scripts/main.js")"></script>
	</body>
</html>