@import common.Defaults
@import common.models.event.Event
@import common.models.user.User
@import common.views.html.format._
@import backend.views.html._
@import backend.views.html.partials._
@(event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Ticketing pour "+event.name, "events_"+event.uuid+"_ticketing", Map(event.uuid -> event.name)){
	<div class="block-header">
		<h2>Option Ticketing pour @event.name</h2>
	</div>
	<div class="card" id="profile-main">
		<div class="pm-overview c-overflow">
			<div class="pmo-pic"><img class="img-responsive" src="@routes.Assets.at("backend/images/features/ticketing.png")" alt=""></div>
		</div>
		<div class="pm-body clearfix" style="min-height: 650px;">
			@if(event.config.hasTicketing()){
				<div class="pmb-block">
					<div class="pmbb-header"><h2><i class="md md-done-all m-r-5"></i> Le ticketing est activé !</h2></div>
					<div class="p-l-30">
						Vous pouvez visualiser le formulaire d'inscription ici :<br>
						<a href="@backend.controllers.routes.Ticketing.register(event.uuid).absoluteURL(Defaults.secureUrl)" target="_blank">@backend.controllers.routes.Ticketing.register(event.uuid).absoluteURL(Defaults.secureUrl)</a><br>
						<br>
						Pour intégrer le formulaire dans votre site, utilisez le code suivant :<br>
						<code>&lt;iframe src="@backend.controllers.routes.Ticketing.register(event.uuid).absoluteURL(Defaults.secureUrl)">&lt;/iframe></code>
						<br>
						<br>
						<div>
							@helper.form(action=backend.controllers.routes.Ticketing.doActivate(event.uuid, false), 'class->"inline"){<button type="submit" class="btn btn-lg btn-danger">Désactiver</button>}
						</div>
					</div>
				</div>
			}
			@if(!event.config.hasTicketing()){
				@if(event.config.attendeeSurvey.isDefined){
					<div class="pmb-block">
						<div class="pmbb-header"><h2><i class="md md-done-all m-r-5"></i> Activer le ticketing !</h2></div>
						<div class="p-l-30">
							@helper.form(action=backend.controllers.routes.Ticketing.doActivate(event.uuid, true), 'class->"inline"){<button type="submit" class="btn btn-lg btn-success">Activer</button>}
							<a href="@backend.controllers.routes.Ticketing.configure(event.uuid)" class="btn btn-lg btn-default">Configurer</a>
						</div>
					</div>
				}
				@if(event.config.attendeeSurvey.isEmpty){
					<div class="pmb-block">
						<div class="pmbb-header"><h2><i class="md md-done-all m-r-5"></i> Configurer le ticketing !</h2></div>
						<div class="p-l-30">
							<a href="@backend.controllers.routes.Ticketing.configure(event.uuid)" class="btn btn-lg btn-success">Configurer</a>
						</div>
					</div>
				}
			}
		</div>
	</div>
}