@import common.models.user.User
@import backend.services.EventDiff
@import backend.forms.EventUpdateData
@import play.api.libs.json.Json
@import common.views.html.format._
@import common.views.html.forms._
@import backend.views.html._
@(refreshForm: Form[EventUpdateData], diff: EventDiff)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@changeGroup(title: String, id: String, fields: Field, elts: Map[String, (String, Html)]) = {
    @if(elts.size > 0){
        <p class="c-black f-500 m-b-5">@title</p>
        <div class="panel-group" role="tablist" aria-multiselectable="false" id="accordion-@id">
            @helper.repeat(fields) { field =>
                @defining((field("id").value.getOrElse(""), field("id").value.flatMap(v => elts.get(v)).getOrElse(("", Html(""))))) { case (uuid, (name, body)) =>
                    <div class="row">
                        <div class="col-sm-1">
                            @inputHidden(field("id"))
                            @inputSwitch(field("update"))
                        </div>
                        <div class="col-sm-11">
                            <div class="panel panel-collapse">
                                <div class="panel-heading" role="tab" id="@id-@uuid-head">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-@id" href="#@id-@uuid" aria-expanded="false" aria-controls="@id-@uuid">@name</a>
                                    </h4>
                                </div>
                                <div id="@id-@uuid" class="collapse" role="tabpanel" aria-labelledby="@id-@uuid-head">
                                    <div class="panel-body">@body</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}

@layout("Mettre à jour "+diff.oldEvent.name, Map(diff.oldEvent.uuid -> diff.oldEvent.name)){
    <div class="card">
        <div class="card-header ch-alt">
            <h2>Modifications pour @diff.oldEvent.name :</h2>
        </div>
        <div class="card-body card-padding">
            <ul>
                @if(diff.hasEventDataChanged()){<li>Données de l'événement</li>}
                @if(diff.createdAttendees.length>0){<li>@diff.createdAttendees.length participants créées</li>}
                @if(diff.deletedAttendees.length>0){<li>@diff.deletedAttendees.length  participants supprimées</li>}
                @if(diff.updatedAttendees.length>0){<li>@diff.updatedAttendees.length participants modifiées</li>}
                @if(diff.createdExponents.length>0){<li>@diff.createdExponents.length exposants créés</li>}
                @if(diff.deletedExponents.length>0){<li>@diff.deletedExponents.length exposants supprimés</li>}
                @if(diff.updatedExponents.length>0){<li>@diff.updatedExponents.length exposants modifiés</li>}
                @if(diff.createdSessions.length>0){<li>@diff.createdSessions.length sessions créées</li>}
                @if(diff.deletedSessions.length>0){<li>@diff.deletedSessions.length sessions supprimées</li>}
                @if(diff.updatedSessions.length>0){<li>@diff.updatedSessions.length sessions modifiées</li>}
            </ul>

            @helper.form(action=backend.controllers.admin.routes.Events.doRefresh(diff.oldEvent.uuid), 'class->"form-horizontal") {
                @if(diff.hasEventDataChanged()) {
                    <p class="c-black f-500 m-b-5">Modification de l'événement</p>
                    <div class="row">
                        <div class="col-sm-1">
                            @inputSwitch(refreshForm("updateEvent"))
                        </div>

                        <div class="col-sm-11">
                            <div class="panel-group" id="accordion-updateEvent">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-updateEvent" href="#updateEvent-@diff.oldEvent.uuid">@diff.oldEvent.name</a></h4>
                                    </div>
                                    <div id="updateEvent-@diff.oldEvent.uuid" class="panel-collapse collapse">
                                        <div class="panel-body">@jsonDiff(Json.toJson(diff.oldEvent), Json.toJson(diff.newEvent))</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @changeGroup("Participants à créer", "createdAttendees", refreshForm("createdAttendees"), diff.createdAttendees.map(e => (e.meta.source.map(_.ref).getOrElse(e.name.unwrap), (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Participants à supprimer", "deletedAttendees", refreshForm("deletedAttendees"), diff.deletedAttendees.map(e => (e.uuid.unwrap, (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Participants à modifier", "updatedAttendees", refreshForm("updatedAttendees"), diff.updatedAttendees.map { case (oldElt, elt) => (elt.uuid.unwrap, (elt.name.unwrap, jsonDiff(Json.toJson(oldElt), Json.toJson(elt)))) }.toMap)
                @changeGroup("Sessions à créer", "createdSessions", refreshForm("createdSessions"), diff.createdSessions.map(e => (e.meta.source.map(_.ref).getOrElse(e.name.unwrap), (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Sessions à supprimer", "deletedSessions", refreshForm("deletedSessions"), diff.deletedSessions.map(e => (e.uuid.unwrap, (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Sessions à modifier", "updatedSessions", refreshForm("updatedSessions"), diff.updatedSessions.map { case (oldElt, elt) => (elt.uuid.unwrap, (elt.name.unwrap, jsonDiff(Json.toJson(oldElt), Json.toJson(elt)))) }.toMap)
                @changeGroup("Exposants à créer", "createdExponents", refreshForm("createdExponents"), diff.createdExponents.map(e => (e.meta.source.map(_.ref).getOrElse(e.name.unwrap), (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Exposants à supprimer", "deletedExponents", refreshForm("deletedExponents"), diff.deletedExponents.map(e => (e.uuid.unwrap, (e.name.unwrap, json(Json.toJson(e))))).toMap)
                @changeGroup("Exposants à modifier", "updatedExponents", refreshForm("updatedExponents"), diff.updatedExponents.map { case (oldElt, elt) => (elt.uuid.unwrap, (elt.name.unwrap, jsonDiff(Json.toJson(oldElt), Json.toJson(elt)))) }.toMap)

                @if(!diff.hasChanged()) {
                    <p>Aucune modification identifiée !</p>
                }

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <a href="@req.headers("referer")" class="btn btn-default">Annuler</a>
                        <button type="submit" class="btn btn-success">Mettre à jour</button>
                    </div>
                </div>
            }
        </div>
    </div>
}
