@import common.models.values.typed.GenericId
@import common.models.values.typed.FullName
@import common.models.user.User
@import common.models.event.GenericEvent
@import play.api.libs.json.Json
@import common.views.html.format._
@import backend.views.html._
@(event: GenericEvent)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout(event.name, Map(GenericId(event.uuid) -> FullName(event.name))){
	<div class="card">
		<div class="card-header ch-alt">
			<h2>@event.name</h2>
		</div>
		<div class="card-body card-padding">
			@json(Json.toJson(event))
		</div>
	</div>
}