@(field: Field, args: (Symbol, String)*)(input: Field => Html)

@import views.helpers._

<div class="form-group @if(field.hasErrors){has-error}">
  <label for="@field.name" class="control-label">@Helpers.getArg(args, "label", field.name)</label>
  @input(field)
  @if(field.hasErrors && field.errors.length > 0){
    @for(error <- field.errors) {
      <p class="help-block error">@Messages(error.message, error.args: _*)</p>
    }
  }
  @if(!field.hasErrors && field.constraints.length > 0 && !Helpers.hasArg(args, "constraints", "false")){
    @for(constraint <- field.constraints) {
      <p class="help-block info">@Messages(constraint._1, constraint._2)</p>
    }
  }
</div>