@()

<div class="pm-overview c-overflow">
    <div class="pmo-pic">
        <div class="p-relative">
            <a href="">
                <img class="img-responsive" src="@routes.Assets.at("backend/sample/images/profile-pics/profile-pic-2.jpg")" alt=""> 
            </a>
            
            <div class="dropdown pmop-message">
                <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1">
                    <i class="md md-message"></i>
                </a>
                
                <div class="dropdown-menu">
                    <textarea placeholder="Write something..."></textarea>
                    
                    <button class="btn bgm-green btn-icon"><i class="md md-send"></i></button>
                </div>
            </div>
            
            <a href="" class="pmop-edit">
                <i class="md md-camera-alt"></i> <span class="hidden-xs">Update Profile Picture</span>
            </a>
        </div>
        
        
        <div class="pmo-stat">
            <h2 class="m-0 c-white">1562</h2>
            Total Connections
        </div>
    </div>
    
    <div class="pmo-block pmo-contact hidden-xs">
        <h2>Contact</h2>
        
        <ul>
            <li><i class="md md-phone"></i> 00971 12345678 9</li>
            <li><i class="md md-email"></i> malinda-h@@gmail.com</li>
            <li><i class="socicon socicon-skype"></i> malinda.hollaway</li>
            <li><i class="socicon socicon-twitter"></i> @@malinda (twitter.com/malinda)</li>
            <li>
                <i class="md md-location-on"></i>
                <address class="m-b-0">
                    10098 ABC Towers, <br/>
                    Dubai Silicon Oasis, Dubai, <br/>
                    United Arab Emirates
                </address>
            </li>
        </ul>
    </div>
    
    <div class="pmo-block pmo-items hidden-xs">
        <h2>Connections</h2>
        
        <div class="pmob-body">
            <div class="row">
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/1.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/2.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/3.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/4.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/5.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/6.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/7.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/8.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/1.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/2.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/3.jpg")" alt="">
                </a>
                <a href="" class="col-xs-2">
                    <img class="img-circle" src="@routes.Assets.at("backend/sample/images/profile-pics/4.jpg")" alt="">
                </a>
            </div>
        </div>
    </div>
</div>