@import conferences.models.PersonData
@import common.views.html.forms._
@import conferences.views.html.partials._
@()
<div class="modal fade" id="create-person-modal" tabindex="-1" role="dialog" aria-labelledby="addPersonModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @defining(Form(PersonData.fields)){ personForm =>
                <form class="form-horizontal person-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addPersonModal">Ajouter une personne</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Personne</legend>
                            @fieldHorizontal(personForm("name"), 'label -> "Nom") { field => @inputText(field, 'placeholder -> "ex: John Doe") }
                            @fieldHorizontal(personForm("twitter"), 'label -> "Compte twitter", 'constraints -> "false") { field => @inputText(field, 'twitterToImg -> "avatar", 'constraints -> "false", 'placeholder -> "ex: johndoe") }
                            @fieldHorizontal(personForm("siteUrl"), 'label -> "Site", 'constraints -> "false") { field => @inputText(field, 'constraints -> "false", 'placeholder -> "ex: http://www.johndoe.com/") }
                            @fieldHorizontal(personForm("email"), 'label -> "Email", 'constraints -> "false") { field => @inputText(field, 'type -> "email", 'constraints -> "false", 'placeholder -> "ex: john@doe.com") }
                            @fieldHorizontal(personForm("avatar"), 'label -> "Avatar", 'constraints -> "false") { field => @inputImgUrl(field, 'constraints -> "false", 'placeholder -> "ex: https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png") }
                            @*<div class="form-group">
                                <label for="person-name">Nom *</label>
                                <input type="text" class="form-control" id="person-name" name="name" placeholder="ex: John Doe" required>
                            </div>
                            <div class="form-group">
                                <label for="person-twitter">Compte twitter</label>
                                <input type="text" class="form-control" id="person-twitter" name="twitter" twitterToImg="person-avatar" placeholder="ex: johndoe">
                            </div>
                            <div class="form-group">
                                <label for="person-siteUrl">Site</label>
                                <input type="text" class="form-control" id="person-siteUrl" name="siteUrl" placeholder="ex: http://www.johndoe.com/">
                            </div>
                            <div class="form-group">
                                <label for="person-email">Email</label>
                                <input type="email" class="form-control" id="person-email" name="email" placeholder="ex: john@@doe.com">
                            </div>
                            <div class="form-group">
                                <label for="person-avatar">Avatar</label>
                                <div class="img-url-picker">
                                    <input type="text" class="form-control" id="person-avatar" name="avatar" placeholder="ex: https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png">
                                    <img class="preview" style="height: 100px; display: none;">
                                </div>
                            </div>*@
                        </fieldset>
                        <fieldset>
                            <legend>Vos infos</legend>
                            @createdByForm(personForm("createdBy"))
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary save">Ajouter</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>