@import common.models.event.Event
@import common.models.event.Attendee
@import common.models.event.Session
@import common.models.event.Exponent
@import services.UserActionSrv
@import play.api.libs.json.Json
@import play.api.libs.json.JsObject
@import admin.views.html.format._
@(event: Event, updatedEvent: Event, createdAttendees: List[Attendee], deletedAttendees: List[Attendee], updatedAttendees: List[(Attendee, Attendee)], createdSessions: List[Session], deletedSessions: List[Session], updatedSessions: List[(Session, Session)], createdExponents: List[Exponent], deletedExponents: List[Exponent], updatedExponents: List[(Exponent, Exponent)], remoteSource: JsObject)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@admin.views.html.layout("Mettre à jour : "+updatedEvent.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					Liste des modifications pour @updatedEvent.name
					<div class="pull-right">
						<a href="@admin.controllers.routes.Events.operations(updatedEvent.uuid)" class="btn btn-default">Annuler</a>
						<form method="POST" action="@admin.controllers.routes.Events.doRefresh(updatedEvent.uuid)" class="form-button">
							<input type="hidden" name="data" value="@Json.toJson(remoteSource)">
							<button type="submit" class="btn btn-success confirm">Mettre à jour</button>
						</form>
					</div>
				</div>
				<div class="widget-body">
					<ul>
						<li>@createdAttendees.length participants créées</li>
						<li>@deletedAttendees.length  participants supprimées</li>
						<li>@updatedAttendees.length participants modifiées</li>
						<li>@createdSessions.length sessions créées</li>
						<li>@deletedSessions.length sessions supprimées</li>
						<li>@updatedSessions.length sessions modifiées</li>
						<li>@createdExponents.length exposants créés</li>
						<li>@deletedExponents.length exposants supprimés</li>
						<li>@updatedExponents.length exposants modifiés</li>
					</ul>
					@if(event != updatedEvent){
						<h3>Modification de l'événement</h3>
						<div class="panel-group" id="accordion-updateEvent">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-updateEvent" href="#updateEvent-@updatedEvent.uuid">@updatedEvent.name</a>
									</h4>
								</div>
								<div id="updateEvent-@updatedEvent.uuid" class="panel-collapse collapse">
									<div class="panel-body">
										@jsonDiff(Json.toJson(event), Json.toJson(updatedEvent))
									</div>
								</div>
							</div>
						</div>
					}

					@if(createdAttendees.length > 0){
						<h3>Participants à créer</h3>
						<div class="panel-group" id="accordion-createdAttendees">
							@createdAttendees.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-createdAttendees" href="#createdAttendees-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="createdAttendees-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(deletedAttendees.length > 0){
						<h3>Participants à supprimer</h3>
						<div class="panel-group" id="accordion-deletedAttendees">
							@deletedAttendees.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-deletedAttendees" href="#deletedAttendees-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="deletedAttendees-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(updatedAttendees.length > 0){
						<h3>Participants à modifier</h3>
						<div class="panel-group" id="accordion-updatedAttendees">
							@updatedAttendees.map { case (oldElt, elt) =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-updatedAttendees" href="#updatedAttendees-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="updatedAttendees-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@jsonDiff(Json.toJson(oldElt), Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}

					@if(createdSessions.length > 0){
						<h3>Sessions à créer</h3>
						<div class="panel-group" id="accordion-createdSessions">
							@createdSessions.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-createdSessions" href="#createdSessions-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="createdSessions-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(deletedSessions.length > 0){
						<h3>Sessions à supprimer</h3>
						<div class="panel-group" id="accordion-deletedSessions">
							@deletedSessions.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-deletedSessions" href="#deletedSessions-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="deletedSessions-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(updatedSessions.length > 0){
						<h3>Sessions à modifier</h3>
						<div class="panel-group" id="accordion-updatedSessions">
							@updatedSessions.map { case (oldElt, elt) =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-updatedSessions" href="#updatedSessions-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="updatedSessions-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@jsonDiff(Json.toJson(oldElt), Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}

					@if(createdExponents.length > 0){
						<h3>Exposants à créer</h3>
						<div class="panel-group" id="accordion-createdExponents">
							@createdExponents.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-createdExponents" href="#createdExponents-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="createdExponents-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(deletedExponents.length > 0){
						<h3>Exposants à supprimer</h3>
						<div class="panel-group" id="accordion-deletedExponents">
							@deletedExponents.map { elt =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-deletedExponents" href="#deletedExponents-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="deletedExponents-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@json(Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
					@if(updatedExponents.length > 0){
						<h3>Exposants à modifier</h3>
						<div class="panel-group" id="accordion-updatedExponents">
							@updatedExponents.map { case (oldElt, elt) =>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-updatedExponents" href="#updatedExponents-@elt.uuid">@elt.name</a>
										</h4>
									</div>
									<div id="updatedExponents-@elt.uuid" class="panel-collapse collapse">
										<div class="panel-body">
											@jsonDiff(Json.toJson(oldElt), Json.toJson(elt))
										</div>
									</div>
								</div>
							}
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">Modifier les données avant la mise à jour de @updatedEvent.name</div>
				<div class="widget-body">
					<form method="POST" action="@admin.controllers.routes.Events.doRefresh(updatedEvent.uuid)">
						<div class="form-group">
							<textarea class="form-control" rows="30" name="data">@Json.prettyPrint(remoteSource)</textarea>
						</div>
						<button type="submit" class="btn btn-success confirm">Mettre à jour</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
