@import common.models.values.typed.Email
@import common.models.values.typed.ImageUrl
@import common.models.values.typed.TextMultiline
@import common.models.user.User
@import common.models.user.Organization
@import common.models.user.OrganizationInvite
@import common.models.user.Request
@import backend.views.html._
@import backend.views.html.partials._
@import common.views.html.forms._
@import common.views.html.format._
@(organization: Organization, members: List[User], pendingRequests: List[(Request, User)], pendingInvites: List[(Request, Option[User])], inviteForm: Form[(Email, Option[TextMultiline])])(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout(organization.name.unwrap, Map(organization.uuid -> organization.name)){
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h2>@organization.name</h2>
					<ul class="actions">
						@if(user.canAdministrateOrganization(organization.uuid)){
							<li><a href="@backend.controllers.routes.Organizations.update(organization.uuid)"><i class="md md-edit"></i></a></li>
							<li><a href="@backend.controllers.routes.Organizations.delete(organization.uuid)"><i class="md md-delete"></i></a></li>
						}
						@if(!user.canAdministrateOrganization(organization.uuid)){
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" aria-expanded="false"><i class="md md-more-vert"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>@helper.form(action=backend.controllers.routes.Organizations.doLeave(organization.uuid)){<button type="submit">Quitter l'organisation</button>}</li>
								</ul>
							</li>
						}
					</ul>
				</div>
				<div class="card-body card-padding">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>Membres</h2>
				</div>
				<div class="card-body card-padding" style="min-height: 350px; padding-top: 30px;">
					@if(user.canAdministrateOrganization(organization.uuid)){
						<div class="body-alt body-btn-float bgm-red">
							<i class="body-alt-btn md md-add"></i>
							<div class="body-alt-content">
								@helper.form(action=backend.controllers.routes.Organizations.doOrganizationInvite(organization.uuid), 'class->"form-horizontal") {
									<div style="padding: 10px;">
										<h4>Inviter un membre :</h4>
										<p>Invitez des personnes à vous rejoindre dans cette organisation.</p>
										@fieldHorizontal(inviteForm("email"), 'label->"Email", 'constraints->"false"){field =>
											<div class="fg-line">@inputText(field, 'placeholder->"ex: loic@saloonapp.co")</div>
											<p class="help-block">Email de la personne à inviter.</p>
										}
										@fieldHorizontal(inviteForm("comment"), 'label->"", 'constraints->"false"){field =>
											<div class="fg-line">@inputTextarea(field, 'placeholder->"Message d'invitation ...")</div>
										}
									</div>
									<div class="body-alt-actions">
										<a href="" body-alt-action="dismiss"><i class="md md-close"></i></a>
										<button type="submit" body-alt-action="save"><i class="md md-check"></i></button>
									</div>
								}
							</div>
						</div>
					}
					@if(pendingInvites.length > 0){
						<ul class="list-group">
							<li class="list-group-item divider">Invitations en attente :</li>
							@pendingInvites.map { case (request, userOpt) =>
								<li class="list-group-item">
									<ul class="actions" style="float: right; margin-top: -6px;">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown" aria-expanded="false"><i class="md md-more-vert"></i></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li>@helper.form(action=backend.controllers.routes.Requests.doReminder(request.uuid)){<button type="submit">Relancer</button>}</li>
												<li>@helper.form(action=backend.controllers.routes.Requests.doCancel(request.uuid)){<button type="submit">Annuler</button>}</li>
											</ul>
										</li>
									</ul>
									<b>
										@userOpt.map(_.name()).getOrElse{
											@request.content match {
												case OrganizationInvite(_, email, _, _) => {<a href="mailto:@email">@email</a>}
												case _ => {Inconnu}
											}
										}
									</b> - le @date(request.created, "dd MMM à HH'h")
								</li>
							}
						</ul>
					}
					@if(pendingRequests.length > 0){
						<ul class="list-group">
							<li class="list-group-item divider">Demandes d'accès en attente :</li>
							@pendingRequests.map { case (request, user) =>
								<li class="list-group-item">
									<ul class="actions" style="float: right; margin-top: -6px;">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown" aria-expanded="false"><i class="md md-more-vert"></i></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li>@helper.form(action=backend.controllers.routes.Requests.doAccept(request.uuid)){<button type="submit">Accepter</button>}</li>
												<li>@helper.form(action=backend.controllers.routes.Requests.doReject(request.uuid)){<button type="submit">Refuser</button>}</li>
											</ul>
										</li>
									</ul>
									<b>@user.name()</b> - le @date(request.created, "dd MMM à HH'h")
								</li>
							}
						</ul>
					}
					@members.map { member =>
						<div class="media">
							<div class="pull-left">@avatar(ImageUrl(""), user.info.firstName)</div>
							@if(user.canAdministrateOrganization(organization.uuid) && !member.canAdministrateOrganization(organization.uuid)){
								<ul class="actions" style="float: right; margin-top: -6px;">
									<li class="dropdown">
										<a href="#" data-toggle="dropdown" aria-expanded="false"><i class="md md-more-vert"></i></a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li>@helper.form(action=backend.controllers.routes.Organizations.doBan(organization.uuid, member.uuid)){<button type="submit">Retirer de l'organisation</button>}</li>
										</ul>
									</li>
								</ul>
							}
							<div class="media-body">
								<h4 class="media-heading">@member.name() @member.organizationRole(organization.uuid).map{role => <small>@organizationRole(role)</small>}</h4>
								<a href="mailto:@member.email">@member.email</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}