@import common.models.values.GenericId
@import common.models.user.User
@import common.models.user.Organization
@import backend.forms.OrganizationData
@import common.views.html.forms._
@import backend.views.html._
@import backend.views.html.partials._
@(organizationForm: Form[OrganizationData], organization: Organization)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Modifier l'organisation "+organization.name, "profile_organizations_"+organization.uuid+"_edit", Map(GenericId(organization.uuid) -> organization.name)){
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h2>Modifier l'organisation @organization.name</h2>
				</div>
				<div class="card-body card-padding">
					@helper.form(action=backend.controllers.routes.Organizations.doUpdate(organization.uuid), 'class->"form-horizontal") {
						@partials.form(organizationForm)
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a href="@backend.controllers.routes.Organizations.details(organization.uuid)" class="btn btn-default">Annuler</a>
								<button type="submit" class="btn btn-success">Modifier</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}