@import models.event.Exponent
@import helpers.format._
@import views.html.Application.format._
@(exponent: Exponent)

<div class="media">
	<div class="media-left">
		<img class="media-object" src="@exponent.images.logo">
	</div>
	<div class="media-body">
		<h4 class="media-heading"><a href="@exponent.info.website" target="_blank">@exponent.name</a></h4>
		<p class="well">@textMultiline(exponent.description)</p>
		<p class="text-muted">
			@exponent.info.place |
			niveau: @exponent.info.level.map(_.toString).getOrElse("") @if(exponent.info.sponsor){ + sponsor } |
		</p>
		@exponent.info.team.map { person => @views.html.Application.partials.personListItem(person) }
		<img src="@exponent.images.landing">
	</div>
</div>
