@import models.event.Attendee
@import models.event.Exponent
@import helpers.format._
@import views.html.Application.format._
@(exponent: Exponent, exponentTeam: List[Attendee])

<div class="media">
	<div class="media-left">
		<img class="media-object" src="@exponent.images.logo">
	</div>
	<div class="media-body">
		<h4 class="media-heading">@exponent.name</h4>
		<p class="well">@textMultiline(exponent.description)</p>
		<p class="text-muted">
			@exponent.info.place |
			niveau: @exponent.info.level.map(_.toString).getOrElse("") @if(exponent.info.sponsor){ + sponsor } |
			@if(!exponent.info.website.isEmpty) { <a href="@exponent.info.website" target="_blank"><i class="fa fa-link"></i></a> }
		</p>
		@exponentTeam.map { speaker => @views.html.Application.Attendees.partials.listItem(speaker) }
		<img src="@exponent.images.landing">
	</div>
</div>
