@import models.event.Event
@import models.event.Exponent
@import helpers.format._
@import views.html.Application.format._
@(exponent: Exponent, event: Event)

<tr>
	<td><img src="@exponent.images.logo" style="max-height: 32px;"> @exponent.name</td>
	<td>@exponent.description</td>
	<td>@exponent.info.place</td>
	<td><a href="@exponent.info.website" target="_blank">@exponent.info.website</a></td>
	<td>niveau: @exponent.info.level @if(exponent.info.sponsor){ + sponsor }</td>
	<td>
		<a href="@routes.Exponents.details(event.uuid, exponent.uuid)" class="btn btn-default">Détails</a>
		<a href="@routes.Exponents.update(event.uuid, exponent.uuid)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
		<form method="POST" action="@routes.Exponents.delete(event.uuid, exponent.uuid)" class="form-button"><button type="submit" class="btn btn-danger confirm"><i class="fa fa-trash-o"></i></button></form>
	</td>
</tr>