@import common.models.user.User
@import common.views.html._
@(title: String, breadcrumbTitle: String, breadcrumbList: (Call, String)*)(content: Html)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@main(if(title.length > 0) title+" | SalooN" else "SalooN"){
	@notifications(flash)
	@partials.header()
	@partials.breadcrumb(breadcrumbTitle, breadcrumbList)
	<section id="main">
		@partials.sidebar(user)
		<section id="content">
			<div class="container">
				@content
			</div>
		</section>
	</section>
	@partials.footer()
}