@import common.models.event.Event
@import common.models.user.User
@import common.views.html.format._
@import backend.views.html._
@import backend.views.html.partials._
@(event: Event, attendeeCount: Int, sessionCount: Int, exponentCount: Int, actionCount: Int)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout(event.name.unwrap, Map(event.uuid -> event.name)){
	<div class="block-header">
		<h2>@event.name</h2>
		<ul class="actions">
			<li><a href="@backend.controllers.routes.Events.update(event.uuid)"><i class="md md-edit"></i></a></li>
			<li>@helper.form(action=backend.controllers.routes.Events.doDelete(event.uuid)){<button type="submit" class="confirm" title="Supprimer l'événement @event.name"><i class="md md-delete"></i></button>}</li>
		</ul>
	</div>
	<div class="row">
		@List((attendeeCount, "Participants", "cyan", backend.controllers.routes.Attendees.list(event.uuid)), (sessionCount, "Sessions", "lightgreen", backend.controllers.routes.Sessions.list(event.uuid)), (exponentCount, "Exposants", "pink", backend.controllers.routes.Exponents.list(event.uuid)), (actionCount, "Actions", "teal", backend.controllers.routes.Events.details(event.uuid))).map { case (number, name, color, url) =>
			<div class="col-sm-3">
				<a href="@url" class="mini-charts-item bgm-@color">
					<div class="clearfix">
						<div class="chart number"><span style="display: inline-block; width: 83px; height: 45px; vertical-align: top;">@number</span></div>
						<div class="count">
							<small>&nbsp;</small>
							<h2>@name</h2>
						</div>
					</div>
				</a>
			</div>
		}
	</div>
	<div class="card" id="profile-main">
		<div class="pm-overview c-overflow">
			<div class="pmo-pic"><img class="img-responsive" src="@event.images.logo" alt=""></div>
			<div class="pmo-block pmo-contact hidden-xs">
				<h2>Informations générales</h2>
				<ul>
					<li><i class="md md-event"></i> @event.info.start.map{s => @period(Some(s), event.info.end)}.getOrElse{Pas de date !}</li>
					<li><i class="md md-location-on"></i> @event.info.address.map{a => @address(a, true)}.getOrElse{Pas de lieu !}</li>
					@if(!event.info.website.isEmpty){<li><i class="md md-link"></i> <a href="@event.info.website" target="_blank">@event.info.website</a></li>}
					@if(!event.info.price.url.isEmpty || !event.info.price.label.isEmpty){
						<li>
							<i class="md md-attach-money"></i>
							@if(event.info.price.url != ""){<a href="@event.info.price.url" target="_blank">@event.info.price.label</a>}
							@if(event.info.price.url == "" && event.info.price.label != ""){@event.info.price.label}
						</li>
					}
					@if(event.meta.categories.length > 0){
						<li>
							<i class="md md-local-offer"></i>
							@event.meta.categories.headOption.map { mainCategory =>
								<span class="label label-danger">@mainCategory</span>
								@event.meta.categories.tail.map { category => <span class="label label-primary">@category</span> }
							}
						</li>
					}
					@if(event.info.social.twitter.account.isDefined || event.info.social.twitter.hashtag.isDefined){<li><i class="socicon socicon-twitter"></i> @twitterAccountOpt(event.info.social.twitter.account) @twitterHashtagOpt(event.info.social.twitter.hashtag)</li>}
				</ul>
			</div>
		</div>
		<div class="pm-body clearfix" style="min-height: 650px;">
			<div class="pmb-block">
				<div class="pmbb-header"><h2><i class="md md-format-align-left m-r-5"></i> Description</h2></div>
				<div class="p-l-30">
					@Html(event.descriptionHTML.unwrap)
				</div>
			</div>
			<div class="pmb-block visible-xs">
				<div class="pmbb-header"><h2><i class="md md-person m-r-5"></i> Informations générales</h2></div>
				<div class="p-l-30">
					<dl class="dl-horizontal"><dt>Date</dt><dd>@event.info.start.map{s => @period(Some(s), event.info.end)}.getOrElse{Pas de date !}</dd></dl>
					<dl class="dl-horizontal"><dt>Adresse</dt><dd>@event.info.address.map{a => @address(a, true)}.getOrElse{Pas de lieu !}</dd></dl>
					@if(!event.info.website.isEmpty){<dl class="dl-horizontal"><dt>Site web</dt><dd><a href="@event.info.website" target="_blank">@event.info.website</a></dd></dl>}
					@if(!event.info.price.url.isEmpty || !event.info.price.label.isEmpty){
						<dl class="dl-horizontal">
							<dt>Tickets</dt>
							<dd>
								@if(event.info.price.url != ""){<a href="@event.info.price.url" target="_blank">@event.info.price.label</a>}
								@if(event.info.price.url == "" && event.info.price.label != ""){@event.info.price.label}
							</dd>
						</dl>
					}
					@if(event.meta.categories.length > 0){
						<dl class="dl-horizontal">
							<dt>Catégorie</dt>
							<dd>
								@event.meta.categories.headOption.map { mainCategory =>
									<span class="label label-danger">@mainCategory</span>
									@event.meta.categories.tail.map { category => <span class="label label-primary">@category</span> }
								}
							</dd>
						</dl>
					}
					@if(event.info.social.twitter.account.isDefined || event.info.social.twitter.hashtag.isDefined){
						<dl class="dl-horizontal">
							<dt>Twitter</dt>
							<dd>@twitterAccountOpt(event.info.social.twitter.account) @twitterHashtagOpt(event.info.social.twitter.hashtag)</dd>
						</dl>
					}
				</div>
			</div>
			@*<div class="pmb-block">
				<div class="pmbb-header"><h2><i class="md md-done-all m-r-5"></i> Options</h2></div>
				<div class="p-l-30">
					<div class="row">
						<div class="col-md-3">
							<a href="@backend.controllers.routes.Ticketing.details(event.uuid)" class="feature @if(!event.config.hasTicketing()){inactive}">
								<img src="@routes.Assets.at("backend/images/features/ticketing.png")" alt="">
								<h2>Ticketing</h2>
							</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="feature @if(!event.config.hasCVTheque()){inactive}">
								<img src="@routes.Assets.at("backend/images/features/CVtheque.png")" alt="">
								<h2>CVThèque <small>(bientôt)</small></h2>
							</a>
						</div>
						<div class="col-md-3">
							<a href="#" class="feature @if(!event.config.hasScanQRCode()){inactive}">
								<img src="@routes.Assets.at("backend/images/features/scanQRCode.png")" alt="">
								<h2>Scan QRCode <small>(bientôt)</small></h2>
							</a>
						</div>
					</div>
				</div>
			</div>*@
		</div>
	</div>
}