@import common.models.event.Event
@import common.models.user.User
@import org.joda.time.DateTime
@import common.views.html.format._
@import backend.views.html._
@import backend.views.html.partials._
@(events: List[(Event, Int, Int, Int, Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Événements", "Événements", (backend.controllers.routes.Application.index(), "Accueil")){
	<div class="block-header">
		<h2>Événements organisés</h2>
		<ul class="actions">
			<li><a href="@backend.controllers.routes.Events.create()" title="Créer un nouvel événement"><i class="md md-add"></i></a></li>
		</ul>
	</div>
	@events.sliding(3, 3).map { row =>
		<div class="row">
			@row.map { case (event, attendeeCount, sessionCount, exponentCount, actionCount) =>
				<a class="col-sm-4" href="@backend.controllers.routes.Events.details(event.uuid)">
					<div class="card card-event blog-post @if(event.info.end.map(_.isBefore(new DateTime())).getOrElse(false)){done}">
						<div class="bp-header">
							<div data-aspect-ratio="5:2"><img src="@event.images.landing" alt=""></div>
							@if(event.config.published){<span class="badge-corner badge-corner-green" title="publié"><span class="md md-public"></span></span>}
							<div class="bp-title">
								<h2 class="one-line">@event.name</h2>
								<small>@period(event.info.start, event.info.end) - @attendeeCount participants, @sessionCount sessions, @exponentCount exposants, @actionCount actions</small>
							</div>
						</div>
					</div>
				</a>
			}
		</div>
	}
}