@import conferences.models.Conference
@import conferences.models.PresentationId
@import conferences.models.PresentationData
@import common.views.format.Format
@import common.views.html.forms._
@import conferences.views.html.partials._
@(conference: Conference, presentationForm: Form[PresentationData], tags: List[(String, Int)], rooms: List[(String, Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@conferences.views.html.main(if(presentationForm("id").value.getOrElse("") == "") {"Ajouter une présentation"} else {"Modifier la présentation \""+presentationForm("title").value.getOrElse("")+"\""}) {
    @header("")

    <div class="container" role="main">
        <div class="page-header">
            <h1>@if(presentationForm("id").value.getOrElse("") == "") {Ajouter une présentation à "@conference.name"} else {Modifier la présentation "@presentationForm("title").value"}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                @helper.form(action=presentationForm("id").value.map(id => conferences.controllers.routes.Presentations.doEdit(conference.id, PresentationId(id))).getOrElse(conferences.controllers.routes.Presentations.doCreate(conference.id)), 'class->"form-horizontal presentation-form") {

                    <fieldset>
                        <legend>Présentation</legend>
                        @inputHidden(presentationForm("conferenceId"), 'value -> conference.id.unwrap)
                        @presentationForm("id").value.map { _ => @inputHidden(presentationForm("id")) }
                        @fieldHorizontal(presentationForm("title"), 'label -> "Titre") { field => @inputText(field, 'placeholder -> "ex: Devoxx France 2016") }
                        <!-- TODO : add ajax preview of embed slides & video -->
                        @fieldHorizontal(presentationForm("videoUrl"), 'label -> "Vidéo", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: Devoxx France 2016") }
                        @fieldHorizontal(presentationForm("slidesUrl"), 'label -> "Slides", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: Devoxx France 2016") }
                        @fieldHorizontal(presentationForm("tags"), 'label -> "Tags", 'constraints -> "false") { field => @inputTags(field, tags.sortBy(-_._2).map(_._1), 'placeholder -> "ex: web, java, tech") }
                    </fieldset>
                    <fieldset>
                        <legend>Détails</legend>
                        @fieldHorizontal(presentationForm("speakers"), 'label -> "Speakers") { field =>
                            <div class="row" style="margin-top: 7px;">
                                <div class="col-md-3"><label for="speakers_0_name">Nom</label></div>
                                <div class="col-md-3"><label for="speakers_0_twitter">Twitter</label></div>
                                <div class="col-md-3"><label for="speakers_0_siteUrl">Site</label></div>
                                <div class="col-md-3"><label for="speakers_0_email">Email</label></div>
                            </div>
                            @helper.repeat(field, min = 1) { speakerField =>
                                <div class="row">
                                    <div class="col-md-3">@inputText(speakerField("name"), 'placeholder -> "ex: John Doe")</div>
                                    <div class="col-md-3">@inputText(speakerField("twitter"), 'placeholder -> "ex: johndoe")</div>
                                    <div class="col-md-3">@inputText(speakerField("siteUrl"), 'placeholder -> "ex: http://www.johndoe.com/")</div>
                                    <div class="col-md-3">@inputText(speakerField("email"), 'placeholder -> "ex: mail@example.com")</div>
                                </div>
                            }
                        }
                        @fieldHorizontal(presentationForm("start"), 'label -> "Date/Heure") { field => @inputDateTime(field, 'startDate -> Format.datetime(conference.start), 'placeholder -> "ex: 21/04/2016 10:15") }
                        @fieldHorizontal(presentationForm("duration"), 'label -> "Durée (min)") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 50") }
                        @* TODO : room autocomplete *@
                        @fieldHorizontal(presentationForm("room"), 'label -> "Salle", 'constraints -> "false") { field => @inputTypeahead(field, rooms.map(_._1), 'placeholder -> "ex: Devoxx France 2016") }
                        @fieldHorizontal(presentationForm("description"), 'label -> "Description", 'constraints -> "false") { field => @inputTextarea(field, 'placeholder -> "ex: La conférence pour les Développeurs Passionnés", 'rows -> "4") }
                    </fieldset>
                    <fieldset>
                        <legend>Vos infos</legend>
                        @fieldHorizontal(presentationForm("createdBy.name"), 'label -> "Nom/Pseudo") { field => @inputText(field, 'placeholder -> "ex: John Doe") }
                        @fieldHorizontal(presentationForm("createdBy.email"), 'label -> "Email", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: mail@example.com") }
                        @fieldHorizontal(presentationForm("createdBy.siteUrl"), 'label -> "Site", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: http://www.johndoe.com/") }
                        @fieldHorizontal(presentationForm("createdBy.twitter"), 'label -> "Twitter", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: johndoe") }
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">@fieldCheckbox(presentationForm("createdBy.public"), 'label -> "Affiché publiquement")</div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-lg">@if(presentationForm("id").value.getOrElse("") == "") {Ajouter la présentation} else {Modifier "@presentationForm("title").value"}</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @footer()
}
