@import common.models.utils.Page
@import common.models.event.Event
@import common.models.event.Attendee
@import common.models.user.User
@import common.views.html._
@import backend.views.html._
@import backend.views.html.partials._
@(attendeePage: Page[Attendee], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Participants à "+event.name, Map(event.uuid -> event.name)){
	<div class="card">
		<div class="card-header ch-alt">
			<h2>
				Participants à @event.name :
				<small>@if(req.getQueryString("query").isDefined && !req.getQueryString("query").get.isEmpty){Résultats pour la recherche "<b>@req.getQueryString("query")</b>"}&nbsp;</small>
			</h2>
			<ul class="actions">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" title="Trier les résultats"><i class="md md-sort"></i></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="@backend.controllers.routes.Attendees.list(event.uuid, req.getQueryString("query"), req.getQueryString("page").map(_.toInt), req.getQueryString("pageSize").map(_.toInt), Some("name"))">Trier par nom</a></li>
						<li><a href="@backend.controllers.routes.Attendees.list(event.uuid, req.getQueryString("query"), req.getQueryString("page").map(_.toInt), req.getQueryString("pageSize").map(_.toInt), Some("info.company"))">Trier par société</a></li>
						<li><a href="@backend.controllers.routes.Attendees.list(event.uuid, req.getQueryString("query"), req.getQueryString("page").map(_.toInt), req.getQueryString("pageSize").map(_.toInt), Some("meta.created"))">Trier par date d'inscription</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" title="Exporter"><i class="md md-file-download"></i></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>@helper.form(action=backend.controllers.routes.Attendees.doFileExport(event.uuid)){<button type="submit">Exporter tout</button>}</li>
					</ul>
				</li>
			</ul>
			<a href="@backend.controllers.routes.Attendees.create(event.uuid)" class="btn bgm-red btn-float"><i class="md md-add"></i></a>
		</div>
		<div class="card-body card-padding">
			<ul class="p-menu">
				<li class="pm-search">
					@helper.form(action=backend.controllers.routes.Attendees.list(event.uuid), 'class->"pms-inner"){
						<i class="md md-search"></i>
						<input type="text" name="query" value="@req.getQueryString("query")" placeholder="Search..." class="form-control @if(req.getQueryString("query").isDefined && !req.getQueryString("query").get.isEmpty){open}">
						@if(req.getQueryString("page").isDefined){ <input type="hidden" name="page" value="@req.getQueryString("page")"> }
						@if(req.getQueryString("pageSize").isDefined){ <input type="hidden" name="pageSize" value="@req.getQueryString("pageSize")"> }
						@if(req.getQueryString("sort").isDefined){ <input type="hidden" name="sort" value="@req.getQueryString("sort")"> }
					}
				</li>
			</ul>
			<div class="media-list">
				@attendeePage.items.map { attendee => @attendeeMedia(attendee, Some(backend.controllers.routes.Attendees.details(event.uuid, attendee.uuid))) }
			</div>
			@pagination(attendeePage, (p: Int) => backend.controllers.routes.Attendees.list(event.uuid, req.getQueryString("query"), Some(p), req.getQueryString("pageSize").map(_.toInt), req.getQueryString("sort")))
		</div>
	</div>
}