@import common.models.event.Event
@import common.models.event.Attendee
@import backend.forms.AttendeeCreateData
@import common.models.user.User
@import backend.views.html._
@import backend.views.html.partials._
@(attendeeForm: Form[AttendeeCreateData], attendee: Attendee, roles: List[String], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader, user: User)
@layout("Modifier "+attendee.name, "events_"+event.uuid+"_attendees_"+attendee.uuid+"_edit", Map(event.uuid -> event.name, attendee.uuid -> attendee.name)){
	<div class="card">
		<div class="card-header ch-alt">
			<h2>Modifier @attendee.name :</h2>
		</div>
		<div class="card-body card-padding">
			@helper.form(action=backend.controllers.routes.Attendees.doUpdate(event.uuid, attendee.uuid), 'class->"form-horizontal"){
				@partials.form(attendeeForm, roles, event)
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<a href="@backend.controllers.routes.Attendees.details(event.uuid, attendee.uuid)" class="btn btn-default">Annuler</a>
						<button type="submit" class="btn btn-success">Modifier</button>
					</div>
				</div>
			}
		</div>
	</div>
}