@import conferences.models.Conference
@import conferences.models.PresentationData
@import conferences.models.Person
@import common.views.format.Formats
@import common.views.html.forms._
@import conferences.views.html._
@(conferenceOpt: Option[Conference], presentationForm: Form[PresentationData], conferenceList: List[Conference], persons: List[Person], tags: List[(String, Int)], rooms: List[(String, Int)])
<fieldset>
    <legend>Présentation</legend>
    @conferenceOpt.map { conference =>
        @inputHidden(presentationForm("conferenceId"), 'value -> conference.id.unwrap)
    }.getOrElse {
        @fieldHorizontal(presentationForm("conferenceId"), 'label -> "Conférence *") { field => @inputSelect2(field, conferenceList.map(c => (c.id.unwrap, c.name)), 'placeholder -> "ex: Devoxx France 2016") }
    }
    @presentationForm("id").value.map { _ => @inputHidden(presentationForm("id")) }
    @fieldHorizontal(presentationForm("title"), 'label -> "Titre *") { field => @inputText(field, 'placeholder -> "ex: Ionic2, the rise of web developers") }
        <!-- TODO : add ajax preview of embed slides & video -->
    @fieldHorizontal(presentationForm("videoUrl"), 'label -> "Vidéo", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: https://www.youtube.com/watch?v=o3thkx3EuiA") }
    @fieldHorizontal(presentationForm("slidesUrl"), 'label -> "Slides", 'constraints -> "false") { field => @inputText(field, 'placeholder -> "ex: https://docs.google.com/presentation/d/1ynQc1bYo_vBYoqXbHCv2XRxLb-4EAiKdW4k4jbXvcPA/edit?usp=sharing") }
    @fieldHorizontal(presentationForm("speakers"), 'label -> "Speakers") { field =>
        @inputTagsItem(field, persons.map(p => (p.id.unwrap, Html(p.avatar.map(url => s"<img src='$url' style='height: 18px;'> ").getOrElse("")+p.name))), 'onCreate -> "createPersonModal", 'onCreateLabel -> "Nouveau speaker", 'placeholder -> "ex: John Doe")
    }
    @fieldHorizontal(presentationForm("tags"), 'label -> "Tags", 'constraints -> "false") { field => @inputTags(field, tags.sortBy(-_._2).map(_._1), 'placeholder -> "ex: web, java, tech") }
    @fieldHorizontal(presentationForm("description"), 'label -> "Description", 'constraints -> "false") { field => @inputTextarea(field, 'placeholder -> "ex: Une super présentation pour démarrer avec Ionic2", 'rows -> "4") }
</fieldset>
<fieldset>
    <legend>Détails</legend>
    @fieldHorizontal(presentationForm("start"), 'label -> "Date/Heure") { field => @inputDateTime(field, 'startDate -> conferenceOpt.map(conference => Formats.datetime(conference.start.toDateTimeAtStartOfDay())).getOrElse(""), 'placeholder -> "ex: 21/04/2016 10:15") }
    @fieldHorizontal(presentationForm("duration"), 'label -> "Durée (min)") { field => @inputText(field, 'type -> "number", 'placeholder -> "ex: 50") }
    @* TODO : room autocomplete *@
    @fieldHorizontal(presentationForm("room"), 'label -> "Salle", 'constraints -> "false") { field => @inputTypeahead(field, rooms.map(_._1), 'placeholder -> "ex: Grand Amphi") }
</fieldset>
<fieldset>
    <legend>Vos infos</legend>
    @user.partials.fields(presentationForm("createdBy"))
</fieldset>