@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<link rel="stylesheet" href="@routes.Assets.at("libs/font-awesome/css/font-awesome.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("styles/main.css")">
	</head>
	<body>
		@content
		<script type="text/javascript" src="@routes.Assets.at("libs/jquery/jquery.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/jquery.cookie/jquery.cookie.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/moment/moment.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/moment/fr.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("scripts/rdash.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("scripts/main.js")"></script>
	</body>
</html>