@()

<!-- ******TESTIMONIALS****** -->
<section id="testimonials" class="testimonials section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">What do people think?</h2>
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                        <a href="#">@@Delta</a> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. #Mobile
                    </blockquote><!--//quote-->
                </div><!--//quote-box-->
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="/assets/images/website/people/people-1.png" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Christine Heal</span>
                        <span class="title">Bristol, UK</span>
                    </p>
                </div><!--//people-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                        <a href="#">@@Delta</a> consectetur adipiscing elit. #DeltaApp Sed bibendum velit quis nunc laoreet dictum id nisl id lacinia. 
                    </blockquote><!--//quote-->
                </div><!--//quote-box-->
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="/assets/images/website/people/people-2.png" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Ben Rousseau</span>
                        <span class="title">Paris, France</span>
                    </p>
                </div><!--//people-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                    I find DeltaApp very useful - Lorem ipsum dolor sit amet, check it out: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote><!--//quote-->
                </div><!--//quote-box-->
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="/assets/images/website/people/people-3.png" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Mike Chan</span>
                        <span class="title">Hongkong, China</span>
                    </p>
                </div><!--//people-->
            </div><!--//item-->
        </div><!--//row-->
        <div class="row">
            <div class="item col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                     DeltaApp is fab lorem ipsum dolor sit amet proin sagittis sodales pulvinar Mauris id arcu eget augue condimentum euismod: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote><!--//quote-->
                </div><!--//quote-box-->
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="/assets/images/website/people/people-4.png" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Annie Lee</span>
                        <span class="title">Berlin, Germany</span>
                    </p>
                </div><!--//people-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                    DeltaApp is a great dolor sit amet proin sagittis sodales pulvinar vestibulum porta dolor molestie semper.: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote><!--//quote-->
                </div><!--//quote-box-->
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="/assets/images/website/people/people-5.png" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Adam Gordon</span>
                        <span class="title">London, UK</span>
                    </p>
                </div><!--//people-->
            </div><!--//item-->
        </div>
        <div class="press row text-center">
            <h3 class="note">Also featured in...</h3>
            <ul class="col-md-12 list-inline">
                <li><a href="#"><img class="img-responsive" src="/assets/images/website/press/press-1.png" alt="" /></a></li>
                <li><a href="#"><img class="img-responsive" src="/assets/images/website/press/press-2.png" alt="" /></a></li>
                <li><a href="#"><img class="img-responsive" src="/assets/images/website/press/press-3.png" alt="" /></a></li>
                <li><a href="#"><img class="img-responsive" src="/assets/images/website/press/press-4.png" alt="" /></a></li>
                <li class="last"><a href="#"><img class="img-responsive" src="/assets/images/website/press/press-5.png" alt="" /></a></li>
            </ul>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//Testimonials-->
