@()

<!-- ******STORY****** -->
<section id="story" class="story section has-pattern">
    <div class="container">
        <div class="row">
            <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                <h2 class="title">Story behind the app</h2>
                <p>Aliquam euismod vehicula lacus, non congue ante pulvinar a. Nunc eu posuere risus, ut condimentum ante. Suspendisse at turpis sollicitudin odio congue lobortis vitae nec nisi. Nullam sodales at libero in lacinia. Nullam vel nibh pulvinar, interdum purus tristique, iaculis turpis. Integer imperdiet tincidunt erat vel gravida. Suspendisse tincidunt orci sed leo euismod, quis ultrices ipsum lobortis. Sed viverra dui et elit accumsan accumsan. Donec lorem turpis, iaculis ac fermentum nec, dignissim sed nisi. Nunc condimentum turpis arcu, eu aliquet lorem eleifend ut. Integer at lorem nec diam elementum convallis vel vel nulla.</p>
                <p>Nullam vel nibh pulvinar, interdum purus tristique, iaculis turpis. Integer imperdiet tincidunt erat vel gravida. eleifend ut. Integer at lorem nec diam elementum convallis vel vel nulla.</p>
            </div><!--//content-->
            <div class="team col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="member col-md-6 text-center">
                        <img class="img-rounded" src="/assets/images/website/team/member-1.png" alt="" />
                        <p class="name">James Norton</p>
                        <p class="title">Lead Developer</p>
                        <ul class="connect list-inline">
                            <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                            <li class="row-end"><a href="#" ><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div><!--//member-->
                    <div class="member col-md-6 text-center">
                        <img class="img-rounded" src="/assets/images/website/team/member-2.png" alt="" />
                        <p class="name">Steve Thomson</p>
                        <p class="title">UI/UX Designer</p>
                        <ul class="connect list-inline">
                            <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                            <li class="row-end"><a href="#" ><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div><!--//member-->
                </div>
            </div><!--//team-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//story-->
