@()

<!-- ******Pricing****** -->
<section id="pricing" class="pricing section has-pattern">
    <div class="container">
         <div class="price-cols row">
            <h2 class="title text-center">Choose your plan today</h2>

            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Personal</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">5</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>1 user</li>
                                <li><i class="fa fa-check"></i>10 GB storage</li>
                                <li class="disabled"><i class="fa fa-times"></i>Email priority support</li>
                                <li class="disabled"><i class="fa fa-times"></i>Free update</li>
                                <li class="disabled"><i class="fa fa-times"></i>24/7 support</li>
                            </ul>
                            <a class="btn btn-theme btn-block" href="#">Sign Up</a>
                        </div>
                    </div>
                </div>

                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Professional</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">10</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>10 users</li>
                                <li><i class="fa fa-check"></i>30 GB storage</li>
                                <li><i class="fa fa-check"></i>Email priority support</li>
                                <li><i class="fa fa-check"></i>Free update</li>
                                <li class="disabled"><i class="fa fa-times"></i>24/7 support</li>
                            </ul>
                            <a class="btn btn-theme btn-block" href="#">Sign Up</a>
                        </div>
                        <div class="ribbon">
                            <div class="text">Popular</div>
                        </div>
                    </div>
                </div>

                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">Business</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">25</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li><i class="fa fa-check"></i>Unlimited user</li>
                                <li><i class="fa fa-check"></i>100 GB storage</li>
                                <li><i class="fa fa-check"></i>Email priority support</li>
                                <li><i class="fa fa-check"></i>Free update</li>
                                <li><i class="fa fa-check"></i>24/7 support</li>
                            </ul>
                            <a class="btn btn-theme btn-block" href="#">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
