@()

<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Questions habituelles</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Quelles sont les conférences présentes ?</h3>
                    <p class="answer">
                        Nous essayons d'ajouter autant de conférences que possible mais bien évidemment nous ne pouvons être partout.
                        Nous participons à pas mal de conférences pour les développeurs que nous ajoutons, ex :
                            <a href="http://www.devoxx.fr/" target="_blank">DevoxxFr</a>,
                            <a href="http://www.bdx.io/" target="_blank">BDX I/O</a>,
                            <a href="http://www.breizhcamp.org/" target="_blank">BreizhCamp</a>,
                            <a href="https://www.mix-it.fr/" target="_blank">Mix-IT</a>,
                            <a href="http://www.codeursenseine.com/" target="_blank">Codeurs en Seine</a>,
                            <a href="http://rivieradev.fr/" target="_blank">RivieraDEV</a>,
                            <a href="http://bestofweb.paris/" target="_blank">Best Of Web</a>...<br>
                        Cependant nous ne nous limitons pas à celle-là et nous serions heureux d'ajouter de nouvelles conférences.
                        Une option en première page vous permet de nous demander d'<b>ajouter votre conférence</b>.
                    </p>
                </div>
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Comment ajouter une conférence dans SalooN ?</h3>
                    <p class="answer">
                        Si vous êtes organisateur, vous pouvez <b>créer votre compte</b> (bouton login en haut à droite) et ajouter votre événement.
                        Il y aura simplement une phase de validation avant de pouvoir publier votre salon.
                        Le service est entièrement gratuit.<br>
                        Si vous êtes participant, contactez nous ici ou directement via l'application.
                        Nous ferons notre possible pour ajouter la conférence dans les temps.
                    </p>
                </div>
            </div>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>A qui s'adresse SalooN ?</h3>
                    <p class="answer">
                        SalooN est avant tout pensé pour les participants à une conférence.
                        L'application permet en premier lieu d'accéder aux informations pratiques : date, lieu, achat de tickets, programme et création de son planning.<br>
                        Nous avons beaucoup d'autres fonctionnalités en tête mais il est inutile de surcharger l'application.
                        Si vous avez un besoin ou une idée d'amélioration, venez en <a class="scrollto" href="#contact">discuter avec nous</a> ou <a href="https://github.com/saloonapp/saloon-app" target="_blank">proposez-la directement sur github</a> :)
                    </p>
                </div>
                <div class="item">
                    <h3 class="question"><i class="fa fa-question-circle"></i>Y a-t-il une fonctionnalité de networking ?</h3>
                    <p class="answer">
                        Actuellement non.<br>
                        Tout simplement parce qu'il faut un nombre suffisant de participants dans l'application pour que cette fonctionnalité soit intéressante.<br>
                        Cependant nous serions très content d'échanger avec un organisateur pour vois comment mettre en place une telle fonctionnalité.
                    </p>
                </div>
            </div>
        </div>
        <div class="more text-center">
            <h4 class="title">D'autres questions?</h4>
            <a class="btn btn-lg btn-theme scrollto" href="#contact">Contactez-nous <i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
    </div>
</section>
