@()

<!-- ******HOW****** -->
<section id="how" class="how section has-pattern">
    <div class="container">
        <div class="row">
            <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 text-center">
                <h2 class="title">How it works</h2>
                <p class="intro">You can <a href="http://blog.sensortower.com/blog/2013/07/19/3-ways-to-create-a-great-ios-app-demo-video-without-breaking-the-bank/" target="_blank">create a video demo</a> for your app to demonstrate how the app works. You can also <a href="http://www.qrstuff.com/" target="_blank"> generate QR codes</a>for the app download links.</p>
                <div class="qr-codes hidden-sm hidden-xs">
                    <div class="note">
                        <p>Scan the QR codes</p>
                        <span class="left-arrow"></span>
                        <span class="right-arrow"></span>
                    </div><!--//note-->
                    <div class="row">
                        <div class="item col-md-6 col-sm-6">
                            <img src="/assets/images/website/qrcodes/qr-1.png" alt="" />
                            <p>Download for iOS</p>
                        </div><!--//item-->
                        <div class="item col-md-6 col-sm-6">
                            <img src="/assets/images/website/qrcodes/qr-1.png" alt="" />
                            <p>Download for Andriod</p>
                        </div><!--//item-->
                    </div>
                </div><!--//qr-codes-->
            </div><!--//content-->
            <div id="video-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                <iframe src="//player.vimeo.com/video/87044590" width="570" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div><!--//video-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//how-->
