@()

<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">
        <div class="row feature-row-last">
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-info"></i>
                </div>
                <div class="content">
                    <h3 class="title">Infos pratiques</h3>
                    <p>
                        Toutes les informations pratiques regroupés à un endroit !
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="content">
                    <h3 class="title">Programme</h3>
                    <p>
                        Plus besoin de programme papier, SalooN vous donne accès au programme, actualisé et en fonction de l'avancement de la journée.
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="content">
                    <h3 class="title">Votre planning</h3>
                    <p>
                        Créez, visualisez et suivez votre planning de sessions facilement !
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
