@()

<section id="promo" class="promo section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12">
                <h2 class="title">Passez une meilleure conférence grâce à SalooN !</h2>
                <ul class="summary">
                    <li>Un programme facile d'accès</li>
                    <li>Votre programme personnalisé avec des rappels</li>
                    <li>Prenez des notes sur les sessions et exposants à tout moment</li>
                    <li>Recevez un bilan de votre visite avec les liens vers slides et vidéos</li>
                </ul>
                <div class="download-area">
                    <ul class="btn-group list-inline">
                        <li class="web-btn"><a href="https://saloonapp.github.io/saloon-app/" target="_blank">Disponible sur le Web</a></li>
                        <!--<li class="ios-btn"><a href="https://itunes.apple.com/fr/app/saloon-events/id999897097" target="_blank">Télécharger sur l'App Store</a></li>-->
                        <li class="android-btn"><a href="https://play.google.com/store/apps/details?id=co.saloonapp.mobile" target="_blank">Télécharger sur le Google Play</a></li>
                    </ul>
                    <div class="note text-center">
                        <p>Un clic de plus et c'est bon !</p>
                        <span class="left-arrow"></span>
                        <span class="right-arrow"></span>
                    </div>
                </div>
            </div>

            <div class="phone nexus4 col-md-4 col-sm-12 col-xs-12">
                <div class="nexus4-holder phone-holder">
                    <div class="nexus4-holder-inner">
                        <div class="slider flexslider">
                            <ul class="slides">
                                <li><img src="@routes.Assets.at("website/images/nexus4/nexus4-slide-1.png")" alt=""></li>
                                <li><img src="@routes.Assets.at("website/images/nexus4/nexus4-slide-2.png")" alt=""></li>
                                <li><img src="@routes.Assets.at("website/images/nexus4/nexus4-slide-3.png")" alt=""></li>
                                <li><img src="@routes.Assets.at("website/images/nexus4/nexus4-slide-4.png")" alt=""></li>
                                <li><img src="@routes.Assets.at("website/images/nexus4/nexus4-slide-5.png")" alt=""></li>
                            </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
</section>
