@()

<!-- ******STORY****** -->
<section id="story" class="story section has-pattern">
    <div class="container">
        <div class="row">
            <div class="content col-md-6 col-sm-6 col-xs-12">
                <h2 class="title">L'histoire de SalooN</h2>
                <p>
                    Après avoir participé à de nombreuses conférences et salons, de toutes taille et avec les rôles de participant, speaker et organisateur,
                    nous nous sommes bien rendu compte qu'un des enjeux d'une conférence réussie est l'information : contexutelle et actualisée.
                </p>
                <p>
                    Quoi de mieux qu'une application pour ça ?<br>
                    Il y en a bien sûr un nombre impressionnant à disposition mais aucune qui ne réponde vraiment bien aux besoins.
                </p>
                <p>
                    C'est pourquoi nous avons lancé SalooN.<br>
                    Par ailleurs, nous avons mis l'application en <a href="https://github.com/saloonapp" target="_blank">Open Source</a> pour être le plus ouvert possible et améliorer l'application en collaboration avec les utilisateurs.
                </p>
            </div>
            <div class="team col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="member col-md-6 text-center">
                        <img class="img-rounded" src="@routes.Assets.at("website/images/team/loic_knuchel.jpg")" alt="" />
                        <p class="name">Loïc Knuchel</p>
                        <p class="title">Développeur web</p>
                        <ul class="connect list-inline">
                            <li><a href="https://twitter.com/loicknuchel" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/loicknuchel" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="row-end"><a href="http://loic.knuchel.org/" target="_blank"><i class="fa fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="member col-md-6 text-center">
                        <img class="img-rounded" src="@routes.Assets.at("website/images/team/hadil_filali.jpg")" alt="" />
                        <p class="name">Hadil Filali</p>
                        <p class="title">Recruteur en Data Science</p>
                        <ul class="connect list-inline">
                            <li><a href="https://twitter.com/sparklinetalks" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/hadilfilali" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="row-end"><a href="http://sparkline.fr/" target="_blank"><i class="fa fa-globe"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
