@()

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12">
                <h2 class="title">Delta helps you promote your mobile app</h2>
                <ul class="summary">
                    <li>Showcase and promote your mobile app to the web</li>
                    <li>Demonstrate how the app works</li>
                    <li>Provide answers to common questions</li>
                    <li>Tell the world about the story behind the app</li>
                </ul>
                <div class="download-area">
                    <ul class="btn-group list-inline">
                        <li class="ios-btn"><a href="#">Download from the App Store</a></li>
                        <li class="android-btn"><a href="#">Get it from Google Play</a></li>
                    </ul>
                    <div class="note text-center">
                        <p>30% OFF - Now only $0.99<br />Offer ends 31st March</p>
                        <span class="left-arrow"></span>
                        <span class="right-arrow"></span>
                    </div><!--//note-->
                </div>
            </div><!--//overview-->
            
            <!--// iPhone starts -->
            <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                <div class="iphone-holder phone-holder">
                    <div class="iphone-holder-inner">
                        <div class="slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="/assets/images/website/iphone/iphone-slide-1.png"  alt="" />
                                </li>
                                <li>
                                    <img src="/assets/images/website/iphone/iphone-slide-2.png"  alt="" />
                                </li>
                                <li>
                                    <img src="/assets/images/website/iphone/iphone-slide-3.png"  alt="" />
                                </li>
                            </ul><!--//slides-->
                        </div><!--//flexslider-->
                    </div><!--//iphone-holder-inner-->
                </div><!--//iphone-holder-->
            </div><!--//iphone-->
            <!--// iPhone ends -->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->
