@()

<section id="testimonials" class="testimonials section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">What do people think?</h2>
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                        <a href="#">@@Delta</a> I love this #app. Lorem ipsum dolor sit amet, consectetur adipiscing elit. #Mobile
                    </blockquote>
                </div>
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="@routes.Assets.at("website/images/people/people-1.png")" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Christine Heal</span>
                        <span class="title">Bristol, UK</span>
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                        <a href="#">@@Delta</a> consectetur adipiscing elit. #DeltaApp Sed bibendum velit quis nunc laoreet dictum id nisl id lacinia. 
                    </blockquote>
                </div>
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="@routes.Assets.at("website/images/people/people-2.png")" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Ben Rousseau</span>
                        <span class="title">Paris, France</span>
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                    I find DeltaApp very useful - Lorem ipsum dolor sit amet, check it out: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote>
                </div>
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="@routes.Assets.at("website/images/people/people-3.png")" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Mike Chan</span>
                        <span class="title">Hongkong, China</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                     DeltaApp is fab lorem ipsum dolor sit amet proin sagittis sodales pulvinar Mauris id arcu eget augue condimentum euismod: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote>
                </div>
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="@routes.Assets.at("website/images/people/people-4.png")" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Annie Lee</span>
                        <span class="title">Berlin, Germany</span>
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-4">
                <div class="quote-box">
                    <i class="fa fa-quote-left"></i>
                    <blockquote class="quote">
                    DeltaApp is a great dolor sit amet proin sagittis sodales pulvinar vestibulum porta dolor molestie semper.: <a href="#">http://bit.ly/1gB9UBR</a>
                    </blockquote>
                </div>
                <div class="people row">
                    <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="@routes.Assets.at("website/images/people/people-5.png")" alt="" />
                    <p class="details text-center pull-left">
                        <span class="name">Adam Gordon</span>
                        <span class="title">London, UK</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
