@(exponent: Exponent, event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout(exponent.name) {
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Exponents.list(event.uuid)" class="back-btn"><i class="fa fa-arrow-left"></i>Exposants</a>
					@exponent.name
					<div class="pull-right">
						<a href="@routes.Exponents.update(event.uuid, exponent.uuid)" class="btn btn-info">Modifier</a>
						<form method="POST" action="@routes.Exponents.delete(event.uuid, exponent.uuid)" class="form-button"><button type="submit" class="btn btn-danger">Supprimer</button></form>
					</div>
				</div>
				<div class="widget-body">
					@partials.fullItem(exponent)
				</div>
			</div>
		</div>
	</div>
}