@(exponentPage: common.models.Page[Exponent], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout("Exposants"){
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Events.details(event.uuid)" class="back-btn"><i class="fa fa-arrow-left"></i>@event.name</a>
					Exposants
					<div class="pull-right">
						<form class="form-inline inline">
							<input type="text" name="query" value="@req.getQueryString("query")" placeholder="Search" class="form-control">
							@if(req.getQueryString("page").isDefined){ <input type="hidden" name="page" value="@req.getQueryString("page")"> }
							@if(req.getQueryString("sort").isDefined){ <input type="hidden" name="sort" value="@req.getQueryString("sort")"> }
						</form>
						<form class="form-inline inline">
							<a class="btn btn-sm btn-success" href="@routes.Exponents.create(event.uuid)"><i class="fa fa-plus"></i> Créer un exposant</a>
							<a class="btn btn-sm btn-success" href="@routes.Exponents.operations(event.uuid)"><i class="fa fa-upload"></i> <i class="fa fa-download"></i></a>
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="widget-body no-padding">
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr><th>Nom</th><th>Description</th><th>Emplacement</th><th>Site</th><th>Niveau</th><th>Tags</th><th></th></tr>
							</thead>
							<tbody>
								@exponentPage.items.map { exponent =>
									@partials.tableItem(exponent, event)
								}
							</tbody>
						</table>
					</div>
					<div style="padding-left: 10px;">
						@helpers.pagination(exponentPage, (p: Int) => routes.Exponents.list(event.uuid, req.getQueryString("query"), Some(p), req.getQueryString("pageSize").map(_.toInt), req.getQueryString("sort")))
					</div>
				</div>
			</div>
		</div>
	</div>
}