@(importForm: Form[FileImportConfig], event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import helpers.forms._
@import services.FileImporter

@layout("Operations"){
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">
					<a href="@routes.Exponents.list(event.uuid)" class="back-btn"><i class="fa fa-arrow-left"></i>Exposants</a>
					Importer des exposants
				</div>
				<div class="widget-body">
					<form method="POST" action="@routes.Exponents.fileImport(event.uuid)" enctype="multipart/form-data">
						<div class="form-group">
							<label class="control-label">Evénement</label>
							@inputHidden(importForm("eventId"), 'value -> event.uuid)
							<p class="form-control-static">@event.name</p>
						</div>
						@fieldCheckbox(importForm("shouldClean"), 'label -> "Supprimer les éléments existants")
						@fieldVertical(importForm("encoding"), 'label -> "Encodage"){ field => @inputSelect(field, FileImportConfig.encodings) }
						@fieldVertical(importForm("importedFile"), 'label -> "Fichier"){ field =>
							@inputFile(field, 'required -> "true")
							<p class="help-block">
								Le fichier doit être un fichier .csv avec une ligne d'en-tête et le séparateur ';'.<br>
								Champs obligatoires : <b>name</b><br>
								Pour les autres champs, téléchargez un export comment exemple.<br>
								Format des dates : @FileImporter.datePattern<br>
							</p>
						}
						<a href="@routes.Exponents.list(event.uuid)" class="btn btn-default">Annuler</a>
						<button type="submit" class="btn btn-success">Importer</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Exporter les exposants</div>
				<div class="widget-body">
					<form method="POST" action="@routes.Exponents.fileExport(event.uuid)">
						<div class="form-group">
							<label class="control-label">Evénement</label>
							@inputHidden(importForm("eventId"), 'value -> event.uuid)
							<p class="form-control-static">@event.name</p>
						</div>
						<button type="submit" class="btn btn-success">Exporter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}