@(exponentForm: Form[ExponentData], exponent: Exponent, event: Event)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@layout("Modifier "+exponent.name){
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<div class="widget-header">Modifier @exponent.name</div>
				<div class="widget-body">
					<form class="form-horizontal" method="POST" action="@routes.Exponents.doUpdate(event.uuid, exponent.uuid)">
						@partials.form(exponentForm, event)
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<a href="@routes.Exponents.details(event.uuid, exponent.uuid)" class="btn btn-default">Annuler</a>
								<button type="submit" class="btn btn-success">Modifier</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}