@import common.models.event.Event
@import backend.forms.AttendeeCreateData
@import common.views.html.forms._
@(attendeeForm: Form[AttendeeCreateData], roles: List[String], event: Event)
@inputHidden(attendeeForm("eventId"), 'value -> event.uuid)
@fieldHorizontal(attendeeForm("info.genre"), 'label -> "Nom", 'constraints -> "false"){field =>
	<div class="row">
		<div class="col-md-2">@inputSelect2(field, Seq("Mr", "Mme", "Mlle").map(o=>(o,o)), 'emptyOption->" ")@fieldErrors(field)</div>
		<div class="col-md-5"><div class="fg-line">@inputText(attendeeForm("info.firstName"), 'placeholder -> "Prénom")</div>@fieldErrors(attendeeForm("info.firstName"))</div>
		<div class="col-md-5"><div class="fg-line">@inputText(attendeeForm("info.lasName"), 'placeholder -> "Nom")</div>@fieldErrors(attendeeForm("info.lasName"))</div>
	</div>
}
@fieldHorizontal(attendeeForm("info.email"), 'label -> "Coordonnées", 'constraints -> "false"){field =>
	<div class="row">
		<div class="col-md-6"><div class="fg-line">@inputText(field, 'type->"email", 'placeholder->"Email (ex: loic@saloonapp.co)")</div>@fieldErrors(field)</div>
		<div class="col-md-4"><div class="fg-line">@inputText(attendeeForm("info.phone"), 'placeholder -> "Téléphone (ex: 06 01 02 03 04)")</div>@fieldErrors(attendeeForm("info.phone"))</div>
		<div class="col-md-2"><div class="fg-line">@inputText(attendeeForm("info.birthYear"), 'type->"number", 'placeholder -> "Année de naissance")</div>@fieldErrors(attendeeForm("info.birthYear"))</div>
	</div>
}
@fieldHorizontal(attendeeForm("info.address.street"), 'label -> "Adresse", 'constraints -> "false", 'errors -> "false"){field =>
	@inputHidden(attendeeForm("info.address.name"), 'value -> "")
	<div class="row">
		<div class="col-md-6"><div class="fg-line">@inputText(field, 'placeholder->"Rue")</div>@fieldErrors(field)</div>
		<div class="col-md-2"><div class="fg-line">@inputText(attendeeForm("info.address.zipCode"), 'placeholder -> "Code postal")</div>@fieldErrors(attendeeForm("info.address.zipCode"))</div>
		<div class="col-md-4"><div class="fg-line">@inputText(attendeeForm("info.address.city"), 'placeholder -> "Ville")</div>@fieldErrors(attendeeForm("info.address.city"))</div>
	</div>
}
@fieldHorizontal(attendeeForm("info.role"), 'label -> "Role"){field => <div class="fg-line">@inputTypeahead(field, (roles++List("staff", "exposant", "speaker", "participant", "visiteur")).distinct.sorted, 'placeholder->"ex: staff, exposant, speaker, participant, visiteur")</div>}
@fieldHorizontal(attendeeForm("info.job"), 'label -> "Emploi"){field => 
	<div class="row">
		<div class="col-md-6"><div class="fg-line">@inputText(field, 'placeholder -> "Poste (ex: Développeur)")</div></div>
		<div class="col-md-6"><div class="fg-line">@inputText(attendeeForm("info.company"), 'placeholder -> "Société (ex: SalooN)")</div></div>
	</div>
}
@fieldHorizontal(attendeeForm("descriptionHTML"), 'label -> "Description"){field => @inputWysiwyg(field, 'placeholder -> "ex: Fondateur de SalooN, développeur web")}
@fieldHorizontal(attendeeForm("avatar"), 'label -> "Avatar"){field => @inputCloudinaryImage(field, 'ratio -> "1", 'width -> "100") <p class="help-block">Image carrée, largeur min: 100px</p>}
@fieldHorizontal(attendeeForm("info.website"), 'label -> "Liens sociaux"){field =>
	<div class="row">
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Site"><i class="md md-link"></i></span><div class="fg-line">@inputText(field, 'placeholder -> "ex: http://loic.knuchel.org/")</div></div></div>
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Blog"><i class="md md-messenger"></i></span><div class="fg-line">@inputText(attendeeForm("social.blogUrl"), 'placeholder -> "ex: http://loic.knuchel.org/blog/")</div></div></div>
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Facebook"><i class="md socicon socicon-facebook"></i></span><div class="fg-line">@inputText(attendeeForm("social.facebookUrl"), 'placeholder -> "ex: https://www.facebook.com/loic.knuchel")</div></div></div>
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Twitter"><i class="md socicon socicon-twitter"></i></span><div class="fg-line">@inputText(attendeeForm("social.twitterUrl"), 'placeholder -> "ex: https://twitter.com/loicknuchel")</div></div></div>
	</div>
	<div class="row">
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Linkedin"><i class="md socicon socicon-linkedin"></i></span><div class="fg-line">@inputText(attendeeForm("social.linkedinUrl"), 'placeholder -> "ex: https://www.linkedin.com/in/loicknuchel")</div></div></div>
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Viadeo"><i class="md socicon socicon-viadeo"></i></span><div class="fg-line">@inputText(attendeeForm("social.viadeoUrl"), 'placeholder -> "ex: http://fr.viadeo.com/fr/profile/loic.knuchel")</div></div></div>
		<div class="col-md-3"><div class="input-group"><span class="input-group-addon" title="Github"><i class="md socicon socicon-github"></i></span><div class="fg-line">@inputText(attendeeForm("social.githubUrl"), 'placeholder -> "ex: https://github.com/loicknuchel")</div></div></div>
	</div>
}