@import play.api.libs.json.Json
@import conferences.models.{Conference, ConferenceId}
@(conferenceList: List[Conference])(implicit lang: Lang)
@fullCalendarEvents(conferenceList: List[Conference]) = @{
    Json.stringify((Json.obj("events" ->
            conferenceList.map(c => Json.obj(
                "title" -> c.name,
                "start" -> c.start.toString("yyyy-MM-dd"),
                "end" -> c.end.plusDays(1).toString("yyyy-MM-dd"), // fullCalendar exclude last day
                "url" -> conferences.controllers.routes.Application.detail(c.id).url
            ))
    ) \ "events"))
}
@fullCalendarRemoteEvents() = @{
    Json.stringify(Json.obj(
        "searchUrl" -> conferences.controllers.routes.Application.apiSearch(after = Some("START_DATE"), before = Some("END_DATE")).url,
        "eventUrl" -> conferences.controllers.routes.Application.detail(ConferenceId("ID")).url
    ))
}
<div class="full-calendar"
    lang="@lang.toLocale"
    height="500"
    events="@fullCalendarEvents(conferenceList)"
    @*remote-events="@fullCalendarRemoteEvents()"*@
    default-date="@if(conferenceList.length > 0){@conferenceList.map(_.start.getMillis).min}">
</div>
