@()
<div class="well">
    <a href="@conferences.controllers.routes.Application.edit("1")" class="close"><i class="fa fa-pencil"></i></a>
    <div class="row">
        <div class="col-md-8">
            <h2>Devoxx France 2016</h2>
            <blockquote>
                <p>La conférence pour les Développeurs Passionnés</p>
            </blockquote>
            <p>
                <span class="label label-danger">fermé</span>
                <strong><a href="https://cfp.devoxx.fr/" target="_blank">Call For Paper</a></strong> :
                jusqu'au <strong>31 janvier 2016</strong>
            </p>
            <p>
                <span class="label label-danger">fermé</span>
                <strong><a href="https://reg.devoxx.fr/" target="_blank">Tickets</a></strong> :
                <strong>180 - 500 €</strong>,
                jusqu'au <strong>31 mars 2016</strong>
            </p>
            <div role="group">
                <a href="http://devoxx.fr/" target="_blank" class="btn btn-default"><i class="fa fa-globe"></i> Site officiel</a>
                <a href="https://www.youtube.com/channel/UCsVPQfo5RZErDL41LoWvk0A" target="_blank" class="btn btn-default"><i class="fa fa-video-camera"></i> Vidéos</a>
                <a href="https://twitter.com/DevoxxFR" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i> @@DevoxxFR</a>
                <a href="https://twitter.com/search?q=%23DevoxxFR" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i> #DevoxxFR</a>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Du 20 au 22 avril 2016</h4>
            <address>
                <strong>Palais des congrès</strong><br>
                2 Place de la Porte Maillot<br>
                75017 Paris, France<br>
            </address>
            <p>
                <span class="label label-primary">java</span>
                <span class="label label-primary">web</span>
                <span class="label label-primary">informatique</span>
            </p>
            <ul>
                <li>2500 personnes</li>
                <li>220 sessions</li>
                <li>Depuis 2012</li>
            </ul>
        </div>
    </div>
</div>