@import conferences.models.Conference
@import common.views.html.format._
@(conference: Conference, context: String)(implicit lang: Lang)
<div class="conference-item">
    @if(context == "public"){
        <a href="@conferences.controllers.routes.Application.edit(conference.id)" class="close"><i class="fa fa-pencil"></i></a>
    }
    @if(context == "history"){
        <form method="POST" action="@conferences.controllers.routes.Application.doDelete(conference.id, conference.created.getMillis())" class="close"><button type="submit"><i class="fa fa-trash-o"></i></button></form>
        <a href="@conferences.controllers.routes.Application.editVersion(conference.id, conference.created.getMillis())" class="close"><i class="fa fa-pencil"></i></a>
    }
    <div class="row">
        <div class="col-md-8">
            @defining(if(context == "history") conferences.controllers.routes.Application.detailVersion(conference.id, conference.created.getMillis()) else conferences.controllers.routes.Application.detail(conference.id)) { url =>
                <h2><a href="@url"><span class="anchor"><i class="fa fa-link"></i></span> @conference.logo.map{url => <img src="@url" style="max-height: 50px;">} @conference.name</a></h2>
            }
            @conference.cfp.filter(_.end.isAfterNow).map { cfp => <a href="@cfp.siteUrl" target="_blank"><span class="label label-success">Appel à orateurs</span></a> }
            @conference.tickets.filter(_ => conference.end.isAfterNow).map { tickets => <a href="@tickets.siteUrl" target="_blank"><span class="label label-success">Tickets</span></a> }
            <a href="@conference.siteUrl" target="_blank">Site officiel</a>
            @conference.videosUrl.map{url => <a href="@url" target="_blank">Vidéos</a>}
            @conference.social.flatMap(_.twitter.flatMap(_.account)).map { account => <a href="https://twitter.com/@account" target="_blank">@@@account</a> }
            @conference.social.flatMap(_.twitter.flatMap(_.hashtag)).map { hashtag => <a href="https://twitter.com/search?q=%23@hashtag" target="_blank">#@hashtag</a> }
        </div>
        <div class="col-md-4">
            <h4>@period(Some(conference.start), Some(conference.end))</h4>
            @conference.venue.map { venue =>
                <div>
                    @venue.name.map { name => <strong>@name</strong>, }
                    @venue.city
                    <a href="https://www.google.com/maps?q=@venue.name.getOrElse("") @venue.street @venue.zipCode @venue.city @venue.country" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                </div>
            }
            <hr>
            @conference.location.map { location =>
                <div>
                    <strong>@location.name</strong>,
                    @location.locality
                    <a href="@location.url" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                </div>
            }
        </div>
    </div>
</div>