@import conferences.models.Conference
@import common.views.html.format._
@(conference: Conference, context: String)
<tr>
    <td>@conference.name</td>
    <td>@period(Some(conference.start), Some(conference.end))</td>
    <td>
    @conference.venue.map { venue =>
        @venue.city, @venue.country
    }
    </td>
    <td>
        <div role="group">
            <a href="@conference.siteUrl" target="_blank" class="btn btn-default"><i class="fa fa-globe"></i></a>
            @conference.videosUrl.map{url => <a href="@url" target="_blank" class="btn btn-default"><i class="fa fa-video-camera"></i></a>}
            @conference.social.flatMap(_.twitter.flatMap(_.account)).map { account =>
                <a href="https://twitter.com/@account" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i></a>
            }
            @conference.social.flatMap(_.twitter.flatMap(_.hashtag)).map { hashtag =>
                <a href="https://twitter.com/search?q=%23@hashtag" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i></a>
            }
        </div>
    </td>
    <td>@datetime(conference.created)</td>
    <td>
        @if(context == "public"){
            <a href="@conferences.controllers.routes.Application.edit(conference.id)"><i class="fa fa-pencil"></i></a>
        }
        @if(context == "history"){
            <a href="@conferences.controllers.routes.Application.detail(conference.id)"><i class="fa fa-link"></i></a>
            <a href="@conferences.controllers.routes.Application.history(conference.id)"><i class="fa fa-history"></i></a>
            <a href="@conferences.controllers.routes.Application.editVersion(conference.id, conference.created.getMillis())"><i class="fa fa-pencil"></i></a>
            <form method="POST" action="@conferences.controllers.routes.Application.doDelete(conference.id, conference.created.getMillis())" class="inline"><button type="submit" class="btn btn-link"><i class="fa fa-trash-o"></i></button></form>
        }
    </td>
</tr>
