@(section: String)
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@conferences.controllers.routes.Application.list()">Conférence liste</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @if(section == "list"){class="active"}><a href="@conferences.controllers.routes.Application.list()">Liste des conférences</a></li>
                <li @if(section == "create"){class="active"}><a href="@conferences.controllers.routes.Application.create()">Ajouter une conférence</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@website.controllers.routes.Application.index()">SalooN</a></li>
            </ul>
        </div>
    </div>
</nav>