@import org.joda.time.DateTime
@import common.Defaults
@(section: String)
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@conferences.controllers.routes.Conference.list()">Conférence liste</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @if(section == "future-list"){class="active"}><a href="@conferences.controllers.routes.Conference.list()">Conférences à venir</a></li>
                <li @if(section == "past-list"){class="active"}>
                    <a href="@conferences.controllers.routes.Conference.search(section = Some("past"), before = Some(new DateTime().toString(Defaults.dateFormatter)))">
                        <span class="hidden-sm">Conférences passées</span>
                        <span class="visible-sm-inline">Passées</span>
                    </a>
                </li>
                <li @if(section == "create"){class="active"}><a href="@conferences.controllers.routes.Conference.create()">Ajouter<span class="hidden-sm"> une conférence</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="big dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Newsletter"><i class="fa fa-envelope-o" style="color: #E75A4D;"></i></a>
                    <ul class="dropdown-menu">
                        <li style="width: 530px; margin: 20px;">
                            @subscribe()
                        </li>
                    </ul>
                </li>
                <li class="big"><a href="https://twitter.com/conferencelist_" title="Compte Twitter" target="_blank"><i class="fa fa-twitter" style="color: #1da1f2;"></i></a></li>
                <li class="big"><a href="@website.controllers.routes.Application.index()" title="SalooN"><img src="@routes.Assets.at("website/images/logo/logo.png")" alt="SalooN"></a></li>
            </ul>
        </div>
    </div>
</nav>