@import org.joda.time.DateTime
@import common.Config
@(section: String)
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@conferences.controllers.routes.Conferences.search()">Conférence liste</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @if(section == "conferences"){class="active"}><a href="@conferences.controllers.routes.Conferences.search()">Conférences</a></li>
                <li @if(section == "cfps"){class="active"}><a href="@conferences.controllers.routes.Conferences.cfpSearch()">Appels à orateurs</a></li>
                <li @if(section == "presentations"){class="active"}><a href="@conferences.controllers.routes.Presentations.search()">Présentations</a></li>
                <li @if(section == "persons"){class="active"}><a href="@conferences.controllers.routes.Persons.search()">Orateurs</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" style="color: #777;"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="@conferences.controllers.routes.Conferences.create()">Ajouter une conférence</a></li>
                        <li><a href="@conferences.controllers.routes.Conferences.create()">Ajouter un appel à orateur</a></li>
                        <li><a href="@conferences.controllers.routes.Presentations.create(None)">Ajouter une présentation</a></li>
                        <li><a href="@conferences.controllers.routes.Persons.create()">Ajouter une orateur</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="big dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Newsletter"><i class="fa fa-envelope-o" style="color: #E75A4D;"></i></a>
                    <ul class="dropdown-menu">
                        <li style="width: 530px; margin: 20px;">
                            @subscribe()
                        </li>
                    </ul>
                </li>
                <li class="big"><a href="https://twitter.com/conferencelist_" title="Compte Twitter" target="_blank"><i class="fa fa-twitter" style="color: #1da1f2;"></i></a></li>
                <li class="big"><a href="@website.controllers.routes.Application.index()" title="SalooN"><img src="@routes.Assets.at("website/images/logo/logo.png")" alt="SalooN"></a></li>
            </ul>
        </div>
    </div>
</nav>