@import play.api.libs.json.Json
@import conferences.models.Conference
@import common.views.format.Format
@(conferenceList: List[Conference])(implicit lang: Lang)
@markers(conferenceList: List[Conference]) = @{
    Json.stringify((Json.obj("markers" ->
            conferenceList.map { c =>
                c.location.map { location =>
                    Json.obj(
                        "title" -> c.name,
                        "date" -> Format.period(Some(c.start), Some(c.end)),
                        "location" -> location.formatted,
                        "lat" -> location.geo.lat,
                        "lng" -> location.geo.lng,
                        "url" -> conferences.controllers.routes.Application.detail(c.id).url
                    )
                }
            }
    ) \ "markers"))
}
<div class="gmap-view" style="height: 500px;" markers="@markers(conferenceList)"></div>
