@(tags: List[(String, Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader)
<h3>Recherche</h3>
@helper.form(action=conferences.controllers.routes.Application.search()){
    <div class="form-group">
        <input type="search" class="form-control" id="q" name="q" value="@req.getQueryString("q")" placeholder="Recherche...">
    </div>
    <div class="form-group">
        <label for="before">Avant</label>
        <input type="text" class="form-control datepicker" id="before" name="before" value="@req.getQueryString("before")" placeholder="ex: 31/12/2015">
    </div>
    <div class="form-group">
        <label for="after">Après</label>
        <input type="text" class="form-control datepicker" id="after" name="after" value="@req.getQueryString("after")" placeholder="ex: 01/01/2015">
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" name="tags" value="@req.getQueryString("tags")" placeholder="ex: java, web, tech">
    </div>
    <!-- TODO : add geo-search -->
    <div class="checkbox">
        <label>
            <input type="checkbox" name="cfp" @if(req.getQueryString("cfp") == Some("on")){checked="checked"}> CFPs ouverts
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="tickets" @if(req.getQueryString("tickets") == Some("on")){checked="checked"}> Billetteries ouvertes
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="videos" @if(req.getQueryString("videos") == Some("on")){checked="checked"}> Vidéos publiées
        </label>
    </div>
    <button type="submit" class="btn btn-default">Chercher</button>
}
<h3>Tags</h3>
<p>
    @tags.map { case (tag, count) =>
        <a href="@conferences.controllers.routes.Application.search(tags = Some(tag))" class="label label-primary">@tag (@count)</a>
    }
</p>
