@()
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="//saloonapp.us13.list-manage.com/subscribe/post?u=e17fddd68943ef1f6c66f295b&amp;id=cd0abf22f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Abonnez-vous à la newsletter pour rester informé des nouveautés :</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e17fddd68943ef1f6c66f295b_cd0abf22f4" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
<p class="text-center">
    Suivez l'actualité des conférences tech française sur Twitter : <a href="https://twitter.com/conferencelist_" target="_blank">@@conferencelist_</a>
</p>